In [2]:
import pandas as pd
import os
import numpy as np
from scipy import stats

In [11]:
os.chdir('/Users/Weiyang/Desktop/Git/Project')

In [12]:
dataset = pd.read_csv('Ypedia.csv')

### Data Exploratory

In [13]:
dataset.head()

,Unnamed: 0,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,24636210,2014-11-03 16:02:28,24,2,77,871,36643,456.1151,792280,0,...,0,1,8286,1,0,1,0,63,1258,68
1,19837144,2013-03-13 19:25:01,11,3,205,135,38749,232.4737,961995,0,...,0,1,1842,3,0,1,2,198,786,37
2,13066459,2014-10-13 13:20:25,2,3,66,314,48562,4468.2720,495669,0,...,0,1,8746,1,0,1,6,105,29,22
3,4691082,2013-11-05 10:40:34,11,3,205,411,52752,171.6021,106611,0,...,0,1,6210,3,1,1,2,198,1234,42
4,4878884,2014-06-10 13:34:56,2,3,66,174,50644,NaN,596177,0,...,1,1,12812,5,0,1,2,50,368,83

In [14]:
dataset.describe()

,Unnamed: 0,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
count,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,63915.000000,1.000000e+05,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,1.882530e+07,9.838570,2.678150,85.995070,308.636990,27676.391240,1960.661721,6.054383e+05,0.133770,0.248140,...,0.336750,1.111750,14426.32738,2.577290,0.079930,1.487980,3.150920,81.093290,598.848330,49.860370
std,1.086183e+07,11.996426,0.749018,59.292002,208.706581,16768.647409,2228.153377,3.516154e+05,0.340407,0.431936,...,0.734449,0.451602,11036.98122,2.149263,0.271186,1.280262,1.620534,56.111519,510.959297,28.885423
min,1.012000e+03,2.000000,0.000000,0.000000,0.000000,0.000000,0.005600,1.400000e+01,0.000000,0.000000,...,0.000000,0.000000,4.00000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,9.448967e+06,2.000000,3.000000,66.000000,174.000000,12949.000000,312.792100,2.987962e+05,0.000000,0.000000,...,0.000000,1.000000,8267.00000,1.000000,0.000000,1.000000,2.000000,50.000000,158.000000,25.000000
50%,1.881212e+07,2.000000,3.000000,66.000000,314.000000,27655.000000,1131.835300,6.028825e+05,0.000000,0.000000,...,0.000000,1.000000,9145.00000,1.000000,0.000000,1.000000,2.000000,50.000000,591.000000,49.000000
75%,2.825307e+07,15.000000,3.000000,70.000000,385.000000,42328.000000,2542.359350,9.157222e+05,0.000000,0.000000,...,0.000000,1.000000,18784.00000,5.000000,0.000000,2.000000,4.000000,106.000000,701.000000,73.000000
max,3.767009e+07,53.000000,4.000000,239.000000,1025.000000,56507.000000,11965.376100,1.198783e+06,1.000000,1.000000,...,9.000000,8.000000,65035.00000,9.000000,1.000000,120.000000,6.000000,212.000000,2117.000000,99.000000

In [19]:
dataset.dtypes

Unnamed: 0                     int64
date_time                     object
site_name                      int64
posa_continent                 int64
user_location_country          int64
user_location_region           int64
user_location_city             int64
orig_destination_distance    float64
user_id                        int64
is_mobile                      int64
is_package                     int64
channel                        int64
srch_ci                       object
srch_co                       object
srch_adults_cnt                int64
srch_children_cnt              int64
srch_rm_cnt                    int64
srch_destination_id            int64
srch_destination_type_id       int64
is_booking                     int64
cnt                            int64
hotel_continent                int64
hotel_country                  int64
hotel_market                   int64
hotel_cluster                  int64
dtype: object

In [20]:
dataset['user_location_country'].nunique()

201

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
Unnamed: 0                   100000 non-null int64
date_time                    100000 non-null object
site_name                    100000 non-null int64
posa_continent               100000 non-null int64
user_location_country        100000 non-null int64
user_location_region         100000 non-null int64
user_location_city           100000 non-null int64
orig_destination_distance    63915 non-null float64
user_id                      100000 non-null int64
is_mobile                    100000 non-null int64
is_package                   100000 non-null int64
channel                      100000 non-null int64
srch_ci                      99878 non-null object
srch_co                      99878 non-null object
srch_adults_cnt              100000 non-null int64
srch_children_cnt            100000 non-null int64
srch_rm_cnt                  100000 non-null int64
srch_destination_id          100000 non-null int64
srch_destination_type_id     100000 non-null int64
is_booking                   100000 non-null int64
cnt                          100000 non-null int64
hotel_continent              100000 non-null int64
hotel_country                100000 non-null int64
hotel_market                 100000 non-null int64
hotel_cluster                100000 non-null int64
dtypes: float64(1), int64(21), object(3)
memory usage: 19.1+ MB

##### Comments:

##### 1) Null values present in original destination distance, Check-in and Check-out timings
##### 2) Dates are object data types
##### 3) Original destination distance is the only other float variables

In [22]:
def unique_counts(dataset):
    for i in dataset.columns:
        count = dataset[i].nunique()
        print(i, ": ", count)

In [23]:
unique_counts(dataset)

Unnamed: 0 :  100000
date_time :  99886
site_name :  41
posa_continent :  5
user_location_country :  201
user_location_region :  779
user_location_city :  10779
orig_destination_distance :  62206
user_id :  88863
is_mobile :  2
is_package :  2
channel :  11
srch_ci :  1066
srch_co :  1068
srch_adults_cnt :  10
srch_children_cnt :  10
srch_rm_cnt :  9
srch_destination_id :  8827
srch_destination_type_id :  8
is_booking :  2
cnt :  32
hotel_continent :  7
hotel_country :  178
hotel_market :  1843
hotel_cluster :  100

In [54]:
def correlation_check(dataset):
    for i in dataset.columns:
        if i == 'is_booking' or i == 'srch_rm_cnt':
            break
        else:
            booking_correlation = pd.crosstab(dataset[i], dataset['is_booking'])
            room_correlation = pd.crosstab(dataset[i], dataset['srch_rm_cnt'])
            print('The correlation {a} has with booking rate is: \n {b} \n'.format(a = i, b = booking_correlation))
            print('The correlation {c} has with room counts is: \n {d} \n'.format(c = i, d = room_correlation))

#### Subsetting Dataset for Correlation Check

In [55]:
interested_columns = ['posa_continent', 'is_mobile', 'is_package', 'channel', 'srch_adults_cnt', 'srch_destination_type_id', 'srch_children_cnt', 'srch_rm_cnt', 'is_booking']

In [56]:
new_dataset = dataset.loc[:,interested_columns]

In [57]:
correlation_check(new_dataset)

The correlation posa_continent has with booking rate is:
 is_booking          0     1
posa_continent
0                 664    44
1               10977   902
2                8866   572
3               68571  6269
4                2929   206

The correlation posa_continent has with room counts is:
 srch_rm_cnt     0      1     2    3    4   5   6   7   8
posa_continent
0               0    622    73    6    3   3   1   0   0
1               0  10633   993  155   40  20  14   8  16
2               0   8590   592  151   56  25   8   5  11
3               1  68952  4805  740  185  63  41  16  37
4               0   2876   208   25   11   6   3   1   5

The correlation is_mobile has with booking rate is:
 is_booking      0     1
is_mobile
0           79435  7188
1           12572   805

The correlation is_mobile has with room counts is:
 srch_rm_cnt  0      1     2    3    4    5   6   7   8
is_mobile
0            1  79237  5882  957  275  112  62  30  67
1            0  12436   789  120   20    5   5   0   2

The correlation is_package has with booking rate is:
 is_booking      0     1
is_package
0           68224  6962
1           23783  1031

The correlation is_package has with room counts is:
 srch_rm_cnt  0      1     2    3    4    5   6   7   8
is_package
0            1  68650  5125  842  291  113  67  30  67
1            0  23023  1546  235    4    4   0   0   2

The correlation channel has with booking rate is:
 is_booking      0     1
channel
0           11622   901
1            9558   716
2            7362   474
3            4138   266
4            1929   265
5            5577   581
6             151    11
7             776    35
8             256    15
9           50626  4726
10             12     3

The correlation channel has with room counts is:
 srch_rm_cnt  0      1     2    3    4   5   6   7   8
channel
0            0  11547   797  125   35  10   4   1   4
1            0   9472   669   92   19   9   8   3   2
2            0   7365   379   61   17   5   3   3   3
3            0   4104   249   40    8   2   0   0   1
4            0   1999   148   30    7   4   5   0   1
5            0   5294   592  132   59  31  15   9  26
6            0    151    10    1    0   0   0   0   0
7            0    768    31   10    1   0   0   1   0
8            0    246    20    3    2   0   0   0   0
9            1  50713  3775  583  147  56  32  13  32
10           0     14     1    0    0   0   0   0   0

The correlation srch_adults_cnt has with booking rate is:
 is_booking           0     1
srch_adults_cnt
0                  168    13
1                18919  2631
2                61076  4484
3                 5056   358
4                 4915   375
5                  703    36
6                  808    53
7                  128    13
8                  201    24
9                   33     6

The correlation srch_adults_cnt has with room counts is:
 srch_rm_cnt      0      1     2    3    4   5   6   7   8
srch_adults_cnt
0                1    173     7    0    0   0   0   0   0
1                0  21320    35   21   14  51  41  20  48
2                0  63883  1661   10    0   3   2   0   1
3                0   3988  1166  260    0   0   0   0   0
4                0   1974  3164   74   78   0   0   0   0
5                0    189   354  149   14  33   0   0   0
6                0    127   201  491   16   7  19   0   0
7                0      7    38   40   38   6   2  10   0
8                0     12    43   16  128   5   1   0  20
9                0      0     2   16    7  12   2   0   0

The correlation srch_destination_type_id has with booking rate is:
 is_booking                    0     1
srch_destination_type_id
1                         57494  4415
3                          6681   657
4                          3049   302
5                          4167   590
6                         20271  1998
7                             7     1
8                           336    29
9                             2     1

The correlation srch_destination_type_id has with room counts is:
 srch_rm_cnt               0      1     2    3    4   5   6   7   8
srch_destination_type_id
1                         0  56871  4083  642  164  58  41  15  35
3                         0   6716   517   64   19   9   4   4   5
4                         0   3063   218   43   16   7   2   0   2
5                         0   4367   292   62   13  11   5   1   6
6                         1  20306  1539  262   83  32  15  10  21
7                         0      7     1    0    0   0   0   0   0
8                         0    340    21    4    0   0   0   0   0
9                         0      3     0    0    0   0   0   0   0

The correlation srch_children_cnt has with booking rate is:
 is_booking             0     1
srch_children_cnt
0                  72262  6485
1                  10348   946
2                   7679   455
3                   1285    74
4                    342    24
5                     47     4
6                     34     2
7                      4     2
8                      4     0
9                      2     1

The correlation srch_children_cnt has with room counts is:
 srch_rm_cnt        0      1     2    3    4   5   6   7   8
srch_children_cnt
0                  1  73106  4354  828  226  87  52  28  65
1                  0  10181   971   92   23  17   7   0   3
2                  0   7197   853   61   17   3   3   0   0
3                  0   1019   285   42    9   3   1   0   0
4                  0    151   180   25    6   2   0   2   0
5                  0      7    21   15    4   3   1   0   0
6                  0     12     5   11    5   1   2   0   0
7                  0      0     2    1    2   0   1   0   0
8                  0      0     0    0    2   1   0   0   1
9                  0      0     0    2    1   0   0   0   0

##### Comments:

##### 1) There is an errorenous row showing 1 count of 0 rooms.

##### 2) It would seem that posa_continents might be an effective method of segmentation

##### 3) Conversion rate using mobile is at 6% with the majority focused on 1 room booking

##### 4) Conversion rate using promotional package (is_package) does not seem to out-perform booking rates associated with non-promo

##### 5) It would be interesting to see which marketing channel (channel) is the most effective means of out-reach