In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix, mean_squared_error, r2_score, mean_absolute_error

import statsmodels.api as sm

from sklearn.decomposition import FactorAnalysis

/Users/Weiyang/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
pd.set_option('display.width', 4000)
pd.set_option('max_colwidth', 4000)
pd.set_option('max_columns', 200)
pd.set_option('max_rows', 200)

In [3]:
os.chdir('/Users/Weiyang/Desktop/Morris Hitte Customer Insights')

In [4]:
dataset = pd.read_csv('utdallas_contest_data-1.csv', low_memory = False)

In [5]:
dataset.head(5)

,wgtpop,wgthh,dataright_seq,match,match_level_1,State_99039,Zip_Code_99040,Zip4_Code_99041,Len_of_Residence_90300,Marital_Status_90301,Dwelling_Type_90302,Homeowner_Renter_90303,Gender_Code_90304,Age_Range_90305,Num_Adults_HH_90306,Num_Child_in_HH_90307,Race_Code_90308,Est_HH_Income_90309,Home_Market_Value_90310,Presence_Children_90311,Networth_90312,BnkCrd_Pres_in_HH_90313,Spanish_Speaking_90314,Mail_Order_Byr_90315,Mail_Order_Resp_90316,Occ_1st_Indv_90317,Edu_1st_Indv_90318,Designated_Mkt_Area_U324014,Nielsen_County_Sz_U324016,Cen10_Education_Lev_U324023,Cen10_Med_Age_HHer_U324024,Cen10_Pct_White_U324025,Cen10_Pct_Hispanic_U324026,Cen10_Pct_Black_U324027,Cen10_Med_HH_Inc_U324028,Cen10_Incom_Pctile_U324029,Cen10_Pct_Homeoner_U324030,Cen10_Med_Home_Val_U324031,Cen10_Pct_SFDU_U324032,Cen10_Pct_Mob_Homes_U324033,Cen10_Pct_BCol_Emp_U324034,Cen10_Pct_WhtColEmp_U324035,Cen10_Pct_Married_U324036,Cen10_Pct_HH_w_Chld_U324037,Cen10_Avg_Num_Auto_U324038,Cen10_MedHH_EffInc_U324039,Cen10_Pct_Divorced_U324040,Cen10_Pct_MtrVehOwn_U324041,Cen10_Pct_AbvPovrty_U324042,Cen10_Pct_BelPovLvl_U324043,Cen10_Pct_Move_2000_U324044,Cen10_Pct_Blt_2000p_U324045,Cen10_SocioEcon_Scr_U324046,Cen10_PopDen_St_Cen_U324047,Cen10_PopDen_USCent_U324048,Age_Range_U324055,Est_Age_U324056,Gender_U324057,Race_U324058,Family_PositionCode_U324059,Presence_Eld_Parent_U324060,Length_of_Residnce_U324061,Homeowner_Status_U324062,Dwelling_Type_U324063,Est_HH_Income_3_U324064,Net_Worth_3_U324065,ZIP_Income_Decile_U324066,Dual_Income_Indx_3_U324067,Mail_Order_Respnder_U324068,Mail_Order_Byr_U324069,Married_U324070,Num_Adults_in_HH_U324071,Num_Persons_in_HH_U324072,Num_ReportingSource_U324073,Number_Children_U324074,Child_Pres_0002_Yrs_U324075,Child_Pres_0305_Yrs_U324076,Child_Pres_0610_Yrs_U324077,Child_Pres_1115_Yrs_U324078,Child_Pres_1618_Yrs_U324079,Presence_Children_U324080,Indv_Occ_U324081,Indv_Spouse_Occ_U324082,SOHO_Ind_Indv_U324083,SOHO_Indicator_HH_U324084,Online_Access_U324085,ZIP4_Home_Value_U324093,Age_U324094,Bank_Card_New_IssDt_U324098,Bank_Card_U324099,Ret_Card_U324100,Credit_Active_U324101,Credit_Act_Std_Ret_U324102,Cred_Act_LwEndDpStr_U324103,Cred_Act_MainStrRet_U324104,Cred_Act_HighEnd_Rt_U324105,Credit_Act_TravPers_U324106,Credit_Act_Speclty_U324107,Credit_Actv_Spc_App_U324108,Cred_Act_FinSvc_Bnk_U324109,...,Number_Vehicles_U324600,HlthInsPrem_Tol_Idx_U324602,Hlthcare_Treat_Pref_U324603,Medicar_SpInsByrIdx_U324604,Smart_HHs_Appliance_U324605,Smart_HHs_Security_U324606,Digital_Dest_Groups_U324611,Digital_Devices_U324612,Digital_Destination_U324613,Digi_Neighborhoods_U324614,Mult_HlthBeh_Ch_Idx_U324615,Sust_Hlth_BehCh_Idx_U324616,Gender1_99013,Gender2_99014,State_U324007,ZIP_Code_U324008,ZIP_Plus_4_U324009,Numeric_State_Code_U324012,Numeric_Cty_Code_U324013,Cen_BasTrct_SbCdNum_U324020,Census_Basic_BlkGrp_U324021,Census_Block_Code_U324022,Date_of_Birth_Mth_U324095,Date_of_Birth_Day_U324096,Date_of_Birth_Year_U324097,Child_1_Date_Birth_U324125,Child_2_Date_Birth_U324127,Child_3_Date_Birth_U324129,Child_4_Date_Birth_U324131,Cen_Basic_Tract_Num_U324019,Public_Housing_Addr_U324089,Census_Coding_Lvl_U324049,wc_bought_any,wc_num_items,wc_big_ticket_bought_any,wc_big_ticket_num_items,wc_low_ticket_bought_any,wc_low_ticket_num_items,wc_big_ticket_amt_spent,wc_low_ticket_amt_spent,client_times_shopped_30_days,client_shopped_3_mos,comp1_times_shopped_30_days,comp1_shopped_3_mos,comp2_times_shopped_30_days,comp2_shopped_3_mos,comp3_times_shopped_30_days,comp3_shopped_3_mos,other1_times_shopped_30_days,other1_shopped_3_mos,other2_times_shopped_30_days,other2_shopped_3_mos,other3_times_shopped_30_days,other3_shopped_3_mos,other4_times_shopped_30_days,other4_shopped_3_mos,other5_times_shopped_30_days,other5_shopped_3_mos,other6_times_shopped_30_days,other6_shopped_3_mos,other7_times_shopped_30_days,other7_shopped_3_mos,other8_times_shopped_30_days,other8_shopped_3_mos,other9_times_shopped_30_days,other9_shopped_3_mos,other10_times_shopped_30_days,other10_shopped_3_mos,other11_times_shopped_30_days,other11_shopped_3_mos,other12_times_shopped_30_days,other12_shopped_3_mos,other13_times_shopped_30_days,other13_shopped_3_mos,other14_times_shopped_30_days,other14_shopped_3_mos,other15_times_shopped_30_days,other15_shopped_3_mos,other16_times_shopped_30_days,other16_shopped_3_mos,other17_times_shopped_30_days,other17_shopped_3_mos,other18_times_shopped_30_days,other18_shopped_3_mos,other19_times_shopped_30_days,other19_shopped_3_mos,other20_times_shopped_30_days,other20_shopped_3_mos,other21_times_shopped_30_days,other21_shopped_3_mos,other22_times_shopped_30_days,other22_shopped_3_mos,other23_times_shopped_30_days,other23_shopped_3_mos,other24_times_shopped_30_days,other24_shopped_3_mos,other25_times_shopped_30_days,other25_shopped_3_mos,other26_times_shopped_30_days,other26_shopped_3_mos
0,1973,391,2517,Y,1.0,CT,6604.0,2004.0,NaN,NaN,S,O,M,A,5.0,NaN,B,D,E,Y,E,NaN,NaN,Y,Y,NaN,NaN,501.0,A,4.0,54.0,47.0,25.0,35.0,53.0,22.0,50.0,196.0,21.0,0.0,16.0,55.0,27.0,20.0,14.0,43.0,23.0,84.0,92.0,8.0,68.0,0.0,84.0,9.0,12.0,B,NaN,M,NaN,C,NaN,NaN,Y,S,H,G,9.0,6.0,M,M,NaN,5.0,5.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,Y,176.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,C,9.0,1.0,2.0,1.0,2.0,18.0,1.0,1.0,5.0,M,U,CT,6604.0,2004.0,9.0,1.0,0.0,3.0,3012.0,10.0,19.0,1996.0,NaN,NaN,NaN,NaN,721.0,NaN,B,0,NaN,0,NaN,0,NaN,NaN,NaN,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,A,1,B,1,NaN,0,NaN,0,NaN,0,NaN,0,B,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,C,1,NaN,0,NaN,0
1,348,345,2518,Y,1.0,CT,6604.0,2004.0,1.0,NaN,S,NaN,F,D,NaN,NaN,H,B,A,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,501.0,A,4.0,54.0,47.0,25.0,35.0,53.0,22.0,50.0,196.0,21.0,0.0,16.0,55.0,27.0,20.0,14.0,43.0,23.0,84.0,92.0,8.0,68.0,0.0,84.0,9.0,12.0,H,NaN,F,NaN,O,NaN,1.0,NaN,S,D,A,5.0,9.0,NaN,NaN,NaN,NaN,NaN,3.0,0.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,176.0,51.0,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,P,9.0,1.0,3.0,7.0,2.0,4.0,1.0,6.0,3.0,F,U,CT,6604.0,2004.0,9.0,1.0,0.0,3.0,3012.0,10.0,10.0,1966.0,201212.0,NaN,NaN,NaN,721.0,NaN,B,1,C,1,B,1,C,B,F,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,B,1,B,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,C,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,C,1,NaN,0,NaN,0
2,396,392,2519,Y,1.0,CT,6604.0,2003.0,15.0,NaN,M,R,F,D,1.0,NaN,W,B,A,NaN,A,Y,NaN,Y,Y,B,NaN,501.0,A,4.0,54.0,47.0,25.0,35.0,53.0,22.0,50.0,196.0,21.0,0.0,16.0,55.0,27.0,20.0,14.0,43.0,23.0,84.0,92.0,8.0,68.0,0.0,84.0,9.0,12.0,G,NaN,F,B,F,NaN,15.0,R,C,C,A,4.0,9.0,M,M,NaN,1.0,1.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,A264,NaN,NaN,Y,Y,171.0,50.0,NaN,M,M,Y,Y,Y,NaN,NaN,NaN,Y,NaN,Y,...,NaN,1.0,P,9.0,5.0,5.0,13.0,5.0,29.0,12.0,8.0,0.0,F,U,CT,6604.0,2003.0,9.0,1.0,0.0,3.0,3016.0,2.0,13.0,1968.0,NaN,NaN,NaN,NaN,721.0,NaN,B,1,B,0,NaN,1,B,NaN,A,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,C,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
3,838,276,2520,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN,0,NaN,NaN,NaN,NaN,0,NaN,0,NaN,0,C,1,NaN,0,NaN,0,NaN,0,B,1,B,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,B,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0
4,1040,515,2521,Y,1.0,CT,6604.0,2004.0,15.0,M,S,O,F,D,5.0,1.0,B,C,D,Y,E,Y,NaN,Y,Y,NaN,NaN,501.0,A,4.0,54.0,47.0,25.0,35.0,53.0,22.0,50.0,196.0,21.0,0.0,16.0,55.0,27.0,20.0,14.0,43.0,23.0,84.0,92.0,8.0,68.0,0.0,84.0,9.0,12.0,G,NaN,F,NaN,W,Y,15.0,Y,S,G,H,9.0,7.0,M,M,Y,5.0,6.0,10.0,1.0,NaN,4.0,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,Y,176.0,50.0,200506.0,M,M,Y,Y,Y,Y,NaN,Y,NaN,NaN,Y,...,NaN,8.0,P,9.0,1.0,2.0,13.0,2.0,29.0,1.0,8.0,6.0,F,U,CT,6604.0,2004.0,9.0,1.0,0.0,3.0,3012.0,6.0,16.0,1967.0,201407.0,NaN,NaN,NaN,721.0,NaN,B,1,C,0,NaN,1,C,NaN,E,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,D,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0

In [6]:
interested_columns = ['dataright_seq', 'State_99039', 'Len_of_Residence_90300', 'Length_of_Residnce_U324061', 'Marital_Status_90301', 'Dwelling_Type_90302', 'Homeowner_Renter_90303',
                     'Gender_Code_90304', 'Age_Range_90305', 'Num_Adults_HH_90306', 'Num_Adults_in_HH_U324071', 'Num_Persons_in_HH_U324072', 'Num_Child_in_HH_90307', 'Number_Children_U324074', 'Child_Pres_0002_Yrs_U324075', 'Child_Pres_0305_Yrs_U324076', 'Child_Pres_0610_Yrs_U324077', 'Child_Pres_1115_Yrs_U324078', 'Child_Pres_1618_Yrs_U324079', 'Race_Code_90308', 'Est_HH_Income_90309',
                     'Home_Market_Value_90310', 'Networth_90312', 'Mail_Order_Byr_90315', 'Mail_Order_Resp_90316', 'Occ_1st_Indv_90317', 'Edu_1st_Indv_90318', 'Cen10_Med_HH_Inc_U324028', 'Cen10_MedHH_EffInc_U324039', 'Cen10_SocioEcon_Scr_U324046', 'ZIP_Income_Decile_U324066', 'Dual_Income_Indx_3_U324067',
                     'Srvy_Mail_Ord_Books_U324254', 'Srvy_MO_BooksMags_U324255', 'Srvy_MO_Child_Prod_U324256', 'Srvy_Mail_Ord_Clthg_U324257', 'Srvy_MailOrd_Cosmtc_U324258', 'Srvy_MO_Food_Prod_U324259', 'Srvy_MailOrderGifts_U324260', 'Srvy_MailOrd_HmeFrn_U324261', 'Srvy_Mail_Order_Mag_U324262', 'Srvy_MailOrderOther_U324263', 'Srvy_MailOrdr_Jewel_U324264', 'Srvy_Mail_Ord_PlsSz_U324265', 'Srvy_Mail_Order_DVD_U324266',
                     'Designated_Mkt_Area_U324014', 'Age_Range_U324055', 'Household_Comp_U324163', 'Est_Age_U324056', 'Gender_U324057', 'Race_U324058', 'Family_PositionCode_U324059',
                     'Homeowner_Status_U324062', 'Dwelling_Type_U324063', 'Est_HH_Income_3_U324064', 'Net_Worth_3_U324065', 'Mail_Order_Respnder_U324068', 'Mail_Order_Byr_U324069',
                     'Indv_Occ_U324081', 'Bank_Card_U324099', 'Bank_Card_New_IssDt_U324098', 'Married_U324070', 'Srvy_OwnRent_U324178', 'Ret_Card_U324100', 'Byr_Ret_Last_OrdDt_U324480', 'Byr_Ret_Orders_U324481', 'Byr_Ret_Dollars_U324482',
                     'Est_HH_Debt_Level_U324161', 'Est_HH_Invest_Asset_U324162', 'wc_bought_any', 'wc_num_items',
                     'wc_big_ticket_bought_any', 'wc_big_ticket_num_items', 'wc_low_ticket_bought_any', 'wc_low_ticket_num_items', 'wc_big_ticket_amt_spent', 'wc_low_ticket_amt_spent',
                     'client_times_shopped_30_days', 'client_shopped_3_mos', 'comp1_times_shopped_30_days', 'comp1_shopped_3_mos', 'comp2_times_shopped_30_days', 'comp2_shopped_3_mos',
                     'comp3_times_shopped_30_days', 'comp3_shopped_3_mos']

In [7]:
interested_dataset = dataset[interested_columns]

In [8]:
print(interested_dataset.shape)

(48646, 85)

### Cleaning up Dataset

#### Filling up rows with given estimation

In [9]:
list(dataset.columns)

['wgtpop',
 'wgthh',
 'dataright_seq',
 'match',
 'match_level_1',
 'State_99039',
 'Zip_Code_99040',
 'Zip4_Code_99041',
 'Len_of_Residence_90300',
 'Marital_Status_90301',
 'Dwelling_Type_90302',
 'Homeowner_Renter_90303',
 'Gender_Code_90304',
 'Age_Range_90305',
 'Num_Adults_HH_90306',
 'Num_Child_in_HH_90307',
 'Race_Code_90308',
 'Est_HH_Income_90309',
 'Home_Market_Value_90310',
 'Presence_Children_90311',
 'Networth_90312',
 'BnkCrd_Pres_in_HH_90313',
 'Spanish_Speaking_90314',
 'Mail_Order_Byr_90315',
 'Mail_Order_Resp_90316',
 'Occ_1st_Indv_90317',
 'Edu_1st_Indv_90318',
 'Designated_Mkt_Area_U324014',
 'Nielsen_County_Sz_U324016',
 'Cen10_Education_Lev_U324023',
 'Cen10_Med_Age_HHer_U324024',
 'Cen10_Pct_White_U324025',
 'Cen10_Pct_Hispanic_U324026',
 'Cen10_Pct_Black_U324027',
 'Cen10_Med_HH_Inc_U324028',
 'Cen10_Incom_Pctile_U324029',
 'Cen10_Pct_Homeoner_U324030',
 'Cen10_Med_Home_Val_U324031',
 'Cen10_Pct_SFDU_U324032',
 'Cen10_Pct_Mob_Homes_U324033',
 'Cen10_Pct_BCol_Emp_U324034',
 'Cen10_Pct_WhtColEmp_U324035',
 'Cen10_Pct_Married_U324036',
 'Cen10_Pct_HH_w_Chld_U324037',
 'Cen10_Avg_Num_Auto_U324038',
 'Cen10_MedHH_EffInc_U324039',
 'Cen10_Pct_Divorced_U324040',
 'Cen10_Pct_MtrVehOwn_U324041',
 'Cen10_Pct_AbvPovrty_U324042',
 'Cen10_Pct_BelPovLvl_U324043',
 'Cen10_Pct_Move_2000_U324044',
 'Cen10_Pct_Blt_2000p_U324045',
 'Cen10_SocioEcon_Scr_U324046',
 'Cen10_PopDen_St_Cen_U324047',
 'Cen10_PopDen_USCent_U324048',
 'Age_Range_U324055',
 'Est_Age_U324056',
 'Gender_U324057',
 'Race_U324058',
 'Family_PositionCode_U324059',
 'Presence_Eld_Parent_U324060',
 'Length_of_Residnce_U324061',
 'Homeowner_Status_U324062',
 'Dwelling_Type_U324063',
 'Est_HH_Income_3_U324064',
 'Net_Worth_3_U324065',
 'ZIP_Income_Decile_U324066',
 'Dual_Income_Indx_3_U324067',
 'Mail_Order_Respnder_U324068',
 'Mail_Order_Byr_U324069',
 'Married_U324070',
 'Num_Adults_in_HH_U324071',
 'Num_Persons_in_HH_U324072',
 'Num_ReportingSource_U324073',
 'Number_Children_U324074',
 'Child_Pres_0002_Yrs_U324075',
 'Child_Pres_0305_Yrs_U324076',
 'Child_Pres_0610_Yrs_U324077',
 'Child_Pres_1115_Yrs_U324078',
 'Child_Pres_1618_Yrs_U324079',
 'Presence_Children_U324080',
 'Indv_Occ_U324081',
 'Indv_Spouse_Occ_U324082',
 'SOHO_Ind_Indv_U324083',
 'SOHO_Indicator_HH_U324084',
 'Online_Access_U324085',
 'ZIP4_Home_Value_U324093',
 'Age_U324094',
 'Bank_Card_New_IssDt_U324098',
 'Bank_Card_U324099',
 'Ret_Card_U324100',
 'Credit_Active_U324101',
 'Credit_Act_Std_Ret_U324102',
 'Cred_Act_LwEndDpStr_U324103',
 'Cred_Act_MainStrRet_U324104',
 'Cred_Act_HighEnd_Rt_U324105',
 'Credit_Act_TravPers_U324106',
 'Credit_Act_Speclty_U324107',
 'Credit_Actv_Spc_App_U324108',
 'Cred_Act_FinSvc_Bnk_U324109',
 'Credit_Act_FinSvIns_U324110',
 'Credit_Actv_FinSvc_U324111',
 'Credit_ActCatShwRet_U324112',
 'Credit_Actv_CmpElec_U324113',
 'Credit_Active_Furn_U324114',
 'Cred_Act_HmeOf_Sup_U324115',
 'Credit_Actv_HomeImp_U324116',
 'Credit_Actv_Mem_WH_U324117',
 'Credit_Actv_SprtGds_U324118',
 'CrdAct_TVMailOrdPrc_U324119',
 'Credit_Active_Groc_U324120',
 'Credit_Act_Oil_Comp_U324121',
 'Credit_Act_Miscs_U324122',
 'Cred_Act_LstPostDt_U324123',
 'Cred_Act_Trade_Line_U324124',
 'Child_1_Gender_U324126',
 'Child_2_Gender_U324128',
 'Child_3_Gender_U324130',
 'Child_4_Gender_U324132',
 'Presence_Comp_Owner_U324133',
 'Email_Access_U324134',
 'Register_Voter_Prty_U324135',
 'Registerd_Voter_Ind_U324136',
 'Hunting_Fishing_U324138',
 'Boating_U324139',
 'Presence_of_Donor_U324140',
 'Presence_Dnr_Animal_U324141',
 'Presence_Donor_Art_U324142',
 'Presence_DonorChild_U324143',
 'Presence_Donor_Cons_U324144',
 'Pres_Donor_Environ_U324145',
 'Presence_Donor_Hlth_U324146',
 'Presence_Donor_Hum_U324147',
 'Pres_Donor_Liberal_U324148',
 'Presence_Donr_Relig_U324149',
 'Presence_Donor_Vets_U324150',
 'Presence_Veteran_U324151',
 'Presnce_College_Grd_U324152',
 'US_Aircraft_U324153',
 'Pilots_U324154',
 'All_Terrain_Vehicle_U324155',
 'Snowmobiles_U324156',
 'Concealed_Weapons_U324157',
 'Home_Val_AddrLevel_U324158',
 'LTV_Ratio_U324159',
 'Est_Disc_Income_Pct_U324160',
 'Est_HH_Debt_Level_U324161',
 'Est_HH_Invest_Asset_U324162',
 'Household_Comp_U324163',
 'Family_Member_65p_U324164',
 'Family_Member_6064_U324165',
 'Family_Member_5059_U324166',
 'Family_Member_4049_U324167',
 'Family_Member_3039_U324168',
 'Family_Member_2029_U324169',
 'Family_Member_1819_U324170',
 'Family_Member_U18_U324171',
 'Shrt_Trm_Loan_App_U324172',
 'Short_Term_Loan_Idx_U324173',
 'Bankrupt_Docket_Dte_U324174',
 'Bankruptcy_HH_Ind_U324175',
 'Bankruptcy_Ind_Ind_U324176',
 'Presence_Srvy_Data_U324177',
 'Srvy_OwnRent_U324178',
 'Srvy_HH_Lvl_Match_U324179',
 'Srvy_Indv_Lev_Match_U324180',
 'Srvy_HH_Lvl_Mtch_On_U324181',
 'Srvy_Indv_LvlMth_On_U324182',
 'Srvy_Own_A_Cat_U324183',
 'Srvy_Own_A_Dog_U324184',
 'Srvy_Own_CDDVD_Play_U324185',
 'Srvy_Own_CellPhone_U324186',
 'Srvy_Own_Motorcycle_U324187',
 'Srvy_Own_An_RV_U324188',
 'Srvy_Own_Swim_Pool_U324189',
 'Srvy_Own_A_Horse_U324190',
 'Srvy_Own_DgVid_Cmra_U324191',
 'Srvy_Own_Smart_Phne_U324192',
 'Srvy_Own_ATV_U324193',
 'Srvy_Collectibles_U324194',
 'Srvy_Collect_Coins_U324195',
 'Srvy_Collect_Dolls_U324196',
 'Srvy_Coll_Figurines_U324197',
 'Srvy_Collect_Other_U324198',
 'Srvy_Collect_Plates_U324199',
 'Srvy_Collect_Sports_U324200',
 'Srvy_Collect_Stamps_U324201',
 'Srvy_Coll_Fine_Arts_U324202',
 'Srvy_CC_Prem_AMEX_U324203',
 'Srvy_CC_Prem_Discvr_U324204',
 'Srvy_CC_Prem_Other_U324205',
 'Srvy_CC_Prm_Str_Ret_U324206',
 'Srvy_CC_Prm_Visa_MC_U324207',
 'Srvy_CC_Reg_AMEX_U324208',
 'Srvy_CC_Reg_Discov_U324209',
 'Srvy_CC_Reg_Other_U324210',
 'Srvy_CC_Reg_Str_Ret_U324211',
 'Srvy_CC_Reg_Visa_MC_U324212',
 'Srvy_CC_ATMDebit_U324213',
 'Srvy_Diet_Concerns_U324214',
 'Srvy_Diet_Lose_Wgt_U324215',
 'Srvy_Diet_Eat_Natur_U324216',
 'Srvy_Diet_Vit_Suppl_U324217',
 'Srvy_Diet_LowFatFds_U324218',
 'Srvy_Grandchildren_U324219',
 'Srvy_Hby_U324220',
 'Srvy_Hby_Baking_U324221',
 'Srvy_Hby_Bird_Watch_U324222',
 'Srvy_Hby_Car_Repair_U324223',
 'Srvy_Hby_CigarSmokg_U324224',
 'Srvy_Hby_Gour_Cook_U324225',
 'Srvy_Hby_Cooking_U324226',
 'Srvy_Hby_Crafts_U324227',
 'Srvy_Hby_Casino_Gam_U324228',
 'Srvy_Hby_Gardening_U324229',
 'Srvy_Hby_Gardening_U324230',
 'Srvy_Hby_Garden_Org_U324231',
 'Srvy_Hby_Garden_Veg_U324232',
 'Srvy_Hby_Home_ImpRp_U324233',
 'Srvy_Hby_HmeStdyCrs_U324234',
 'Srvy_Hby_Knitting_U324235',
 'Srvy_Hby_Lotteries_U324236',
 'Srvy_Hby_Quilting_U324237',
 'Srvy_Hby_SelfImpCrs_U324238',
 'Srvy_Hby_Sewing_U324239',
 'Srvy_Hby_Theater_U324240',
 'Srvy_Hby_Wood_Work_U324241',
 'Srvy_Hby_Wine_Appr_U324242',
 'Srvy_Hby_Photogrphy_U324243',
 'Srvy_Hby_Exr_3px_wk_U324244',
 'Srvy_Hby_Scrap_Book_U324245',
 'Srvy_Hby_Cook_lwfat_U324246',
 'Srvy_Hby_CareerAdv_U324247',
 'Srvy_Hby_Jewlry_Mak_U324248',
 'Srvy_Hby_DIY_U324249',
 'Srvy_Hby_Green_U324250',
 'Srvy_Hby_Social_Ntw_U324251',
 'Srvy_Hby_Spiritual_U324252',
 'Srvy_Online_Purchr_U324253',
 'Srvy_Mail_Ord_Books_U324254',
 'Srvy_MO_BooksMags_U324255',
 'Srvy_MO_Child_Prod_U324256',
 'Srvy_Mail_Ord_Clthg_U324257',
 'Srvy_MailOrd_Cosmtc_U324258',
 'Srvy_MO_Food_Prod_U324259',
 'Srvy_MailOrderGifts_U324260',
 'Srvy_MailOrd_HmeFrn_U324261',
 'Srvy_Mail_Order_Mag_U324262',
 'Srvy_MailOrderOther_U324263',
 'Srvy_MailOrdr_Jewel_U324264',
 'Srvy_Mail_Ord_PlsSz_U324265',
 'Srvy_Mail_Order_DVD_U324266',
 'Srvy_Inv_U324267',
 'Srvy_Inv_Other_U324268',
 'Srvy_Inv_Life_Ins_U324269',
 'Srvy_Inv_MutualFund_U324270',
 'Srvy_Inv_StockBond_U324271',
 'Srvy_Inv_RealEstate_U324272',
 'Srvy_Inv_MedicareCv_U324273',
 'Srvy_Inv_401K_U324274',
 'Srvy_Inv_CD_U324275',
 'Srvy_Inv_IRA_U324276',
 'Srvy_InvInt_MediCvg_U324277',
 'Srvy_Inv_No_Medi_Cv_U324278',
 'Srvy_Music_U324279',
 'Srvy_MusicChristian_U324280',
 'Srvy_Music_Classcal_U324281',
 'Srvy_Music_Country_U324282',
 'Srvy_Music_Jazz_U324283',
 'Srvy_Music_Other_U324284',
 'Srvy_Music_RandB_U324285',
 'Srvy_Music_RockRoll_U324286',
 'Srvy_Music_SoftRock_U324287',
 'Srvy_Music_Big_bnd_U324288',
 'Srvy_Music_Altern_U324289',
 'Srvy_Veteran_in_HH_U324290',
 'Srvy_High_Schl_Grad_U324291',
 'Srvy_Occ_Homemaker_U324292',
 'Srvy_Occ_Managemnt_U324293',
 'Srvy_Occ_Sale_Mktng_U324294',
 'Srvy_Occ_TrdesmnLbr_U324295',
 'Srvy_Occ_Prof_Tech_U324296',
 'Srvy_Occ_Retired_U324297',
 'Srvy_Occ_Self_Emp_U324298',
 'Srvy_Occ_Op_HomeBiz_U324299',
 'Srvy_Occ_Student_U324300',
 'Srvy_Occ_MilityGovt_U324301',
 'Srvy_Occ_Doctor_U324302',
 'Srvy_Occ_Full_Time_U324303',
 'Srvy_Occ_Nurse_U324304',
 'Srvy_Occ_Part_Time_U324305',
 'Srvy_Occ_Teacher_U324306',
 'Srvy_Likes_To_Read_U324307',
 'srvy_rding_Astrolgy_U324308',
 'srvy_rding_Bible_U324309',
 'Srvy_rdin_BstSelFic_U324310',
 'Srvy_Rding_BookTape_U324311',
 'srvy_rding_Children_U324312',
 'srvy_rding_Cooking_U324313',
 'srvy_rding_Computr_U324314',
 'Srvy_rd_ContryLfsty_U324315',
 'srvy_rding_Fashion_U324316',
 'srvy_rding_History_U324317',
 'srvy_rding_Int_Decr_U324318',
 'srvy_rding_Med_Hlth_U324319',
 'srvy_rdingMilitary_U324320',
 'srvy_rding_Mystery_U324321',
 'Srvy_rd_Nat_Hth_Rem_U324322',
 'srvy_rding_People_U324323',
 'srvy_rding_Romance_U324324',
 'srvy_rding_SciFi_U324325',
 'Srvy_Rding_SciTech_U324326',
 'srvy_rding_Sports_U324327',
 'Srvy_Rding_WldNwPol_U324328',
 'Srvy_rding_Thrill_U324329',
 'Srvy_Rding_BestSell_U324330',
 'srvy_rding_BookClub_U324331',
 'srvy_rding_Comics_U324332',
 'srvy_rding_Financal_U324333',
 'Srvy_rding_HomeGard_U324334',
 'srvy_rdingSelfImprv_U324335',
 'Srvy_rding_Trav_Ent_U324336',
 'srvy_rding_Magazine_U324337',
 'Srvy_Donor_Animal_U324338',
 'Srvy_Donor_ArtsCult_U324339',
 'Srvy_Donor_Children_U324340',
 'Srvy_Donor_Environ_U324341',
 'Srvy_Donor_Health_U324342',
 'Srvy_Donor_Other_U324343',
 'Srvy_Donr_PolConsrv_U324344',
 'Srvy_Dnr_PolLiberal_U324345',
 'Srvy_DonorReligious_U324346',
 'Srvy_Donor_Veterans_U324347',
 'Srvy_Donor_Humanitr_U324348',
 'Srvy_Sportng_Other_U324349',
 'Srvy_Sprtng_Campin_U324350',
 'Srvy_Sport_Baseball_U324351',
 'Srvy_Sprting_Boatng_U324352',
 'Srvy_Sprt_Basketbal_U324353',
 'Srvy_Sport_Fishing_U324354',
 'Srvy_Sport_Football_U324355',
 'Srvy_Sport_Fitness_U324356',
 'Srvy_Sporting_Golf_U324357',
 'Srvy_SportingHockey_U324358',
 'Srvy_Sport_Hunting_U324359',
 'Srvy_SportingNASCAR_U324360',
 'Srvy_Sprtng_Snw_Ski_U324361',
 'Srvy_Sport_Walking_U324362',
 'Srvy_Sport_Running_U324363',
 'Srvy_Sportng_Scuba_U324364',
 'Srvy_SportingTennis_U324365',
 'Srvy_Sprt_Wght_Lift_U324366',
 'Srvy_Sporting_Bikng_U324367',
 'Srvy_Sprtg_Ext_Sprt_U324368',
 'Srvy_Sporting_Moto_U324369',
 'Srvy_Sprt_Skatebord_U324370',
 'Srvy_Sprting_Snwbrd_U324371',
 'Srvy_Sprt_Rollrblad_U324372',
 'Srvy_Sport_Interest_U324373',
 'Srvy_Travel_U324374',
 'Srvy_Travel_Biz_USA_U324375',
 'Srvy_Trav_Busn_Intl_U324376',
 'Srvy_Trav_Pers_USA_U324377',
 'Srvy_Trav_Pers_Intl_U324378',
 'Srvy_Trv_Casino_Vac_U324379',
 'Srvy_Trv_Family_Vac_U324380',
 'Srvy_Trav_Freq_Flyr_U324381',
 'Srvy_Trav_Timeshare_U324382',
 'Srvy_Travel_Cruise_U324383',
 'Srvy_Trvl_Theme_Prk_U324384',
 'Srvy_Travel_RV_U324385',
 'Srvy_Religious_U324386',
 'Srvy_Elec_Apple_Dv_U324387',
 'Srvy_Elctrncs_Cable_U324388',
 'Srvy_Elctrncs_HSI_U324389',
 'Srvy_Electronic_DVR_U324390',
 'Srvy_Electronic_GPS_U324391',
 'Srvy_Elctrnc_HDDVD_U324392',
 'Srvy_Electnics_HDTV_U324393',
 'Srvy_Elec_HmeTh_Sys_U324394',
 'Srvy_Elec_Sat_Radio_U324395',
 'Srvy_Elec_Sat_TV_U324396',
 'Srvy_Elec_VidGameSy_U324397',
 'Srvy_Electronic_Oth_U324398',
 'Srvy_Purch_HomeDcor_U324399',
 'Srvy_PrchBeautyProd_U324400',
 'Srvy_PurchClubStore_U324401',
 'Srvy_Purch_FastFood_U324402',
 'Srvy_Prch_SpcltyBty_U324403',
 'Srvy_Purch_Coupons_U324404',
 'Srvy_Date_U324405',
 'Srvy_Date_Online_U324406',
 'Srvy_Group_DIY_U324407',
 'Srvy_Group_Fine_Art_U324408',
 'Srvy_Group_HomeLife_U324409',
 'Srvy_Group_Lux_Life_U324410',
 'Srvy_Grp_Outdoor_U324411',
 'Srvy_Grp_Phys_Actv_U324412',
 'Srvy_Grp_Sprts_Enth_U324413',
 'Srvy_Group_Techies_U324414',
 'Srvy_Group_Up_Town_U324415',
 'Byr_Cat_Last_OrdDt_U324416',
 'Byr_Cat_Lst_OnOrdDt_U324417',
 'ByrCat_Lst_OffOrdDt_U324418',
 'Byr_Cat_Total_Ordrs_U324419',
 'Byr_Cat_Total_Dollr_U324420',
 'Byr_Cat_Online_Ords_U324421',
 'Byr_Cat_Online_Doll_U324422',
 'Byr_Cat_Offline_Ord_U324423',
 'Byr_Cat_Off_Dollars_U324424',
 'Byr_Cat_Avg_Ord_Dol_U324425',
 'Byr_Cat_Avg_Onl_Dol_U324426',
 'Byr_Cat_Avg_Off_Dol_U324427',
 'Byr_Cat_Online_Shop_U324428',
 'Byr_Cat_Cont_Shppr_U324429',
 'Byr_Cat_Apprl_Gen_U324430',
 'Byr_Cat_AppMen_BgTl_U324431',
 'Byr_Cat_Appar_Child_U324432',
 'Byr_Cat_App_Teen_U324433',
 'Byr_Cat_Apparel_Men_U324434',
 'Byr_Cat_App_Wmn_Pet_U324435',
 'Byr_Cat_AppWmnPlsSz_U324436',
 'Byr_Cat_Appar_Women_U324437',
 'Byr_Cat_AppNogendSp_U324438',
 'Byr_Cat_Arts_Antiqs_U324439',
 'Byr_Cat_Collectible_U324440',
 'Byr_Cat_Novelty_U324441',
 'Byr_Cat_Automotive_U324442',
 'Byr_Cat_Books_U324443',
 'Byr_Cat_Child_Prod_U324444',
 'Byr_Cat_CompHme_Off_U324445',
 'Byr_Cat_CraftsHobbi_U324446',
 'Byr_Cat_FoodBev_U324447',
 'Byr_Cat_Gen_Merch_U324448',
 'Byr_Cat_Gift_U324449',
 'Byr_Cat_Speci_Food_U324450',
 'Byr_Cat_Holiday_Itm_U324451',
 'Byr_Cat_Speci_Gifts_U324452',
 'Byr_Cat_Stationery_U324453',
 'Byr_Cat_Beauty_U324454',
 'Byr_Cat_Health_U324455',
 'Byr_Cat_Persnl_Care_U324456',
 'Byr_Cat_Electronic_U324457',
 'Byr_Cat_Home_Furn_U324458',
 'Byr_Cat_Furniture_U324459',
 'Byr_Cat_Housewares_U324460',
 'Byr_Cat_Linens_U324461',
 'Byr_Cat_Home_Care_U324462',
 'Byr_Cat_Garden_U324463',
 'Byr_Cat_Jewelry_U324464',
 'Byr_Cat_Music_U324465',
 'Byr_Cat_Oth_MrchSvc_U324466',
 'Byr_Cat_Pets_U324467',
 'Byr_Cat_PhotoVid_Eq_U324468',
 'Byr_Cat_Sports_Leis_U324469',
 'Byr_Cat_Travel_U324470',
 'Byr_Cat_VideosDVDs_U324471',
 'Byr_Cat_Paymnt_AMEX_U324472',
 'Byr_Cat_Payment_CC_U324473',
 'Byr_Cat_Pay_Discver_U324474',
 'Byr_Cat_PmtHouseChr_U324475',
 'Byr_Cat_Pmnt_MstCrd_U324476',
 'Byr_Cat_Pmt_Ret_Crd_U324477',
 'Byr_Cat_Paymnt_Visa_U324478',
 'Byr_Cat_Data_Presnt_U324479',
 'Byr_Ret_Last_OrdDt_U324480',
 'Byr_Ret_Orders_U324481',
 'Byr_Ret_Dollars_U324482',
 'Byr_Ret_Apprl_Gen_U324483',
 'Byr_Ret_App_Mens_BT_U324484',
 'Byr_Ret_App_Child_U324485',
 'Byr_Ret_App_Teen_U324486',
 'Byr_Ret_Aparel_Men_U324487',
 'Byr_Ret_App_Wmn_Pet_U324488',
 'Byr_Ret_AppWmnPlsSz_U324489',
 'Byr_Ret_Appar_Women_U324490',
 'Byr_Ret_AppNogendSp_U324491',
 'Byr_Ret_Arts_Antiqs_U324492',
 'Byr_Ret_Automotive_U324493',
 'Byr_Ret_Beauty_U324494',
 'Byr_Ret_Books_U324495',
 'Byr_Ret_Childs_Prod_U324496',
 'Byr_Ret_Collectible_U324497',
 'Byr_Ret_CompHomeOfc_U324498',
 'Byr_Ret_CraftsHobbi_U324499',
 'Byr_Ret_Electronic_U324500',
 'Byr_Ret_FoodBeverag_U324501',
 'Byr_Ret_Furniture_U324502',
 'Byr_Ret_Garden_U324503',
 'Byr_Ret_Gen_Merch_U324504',
 'Byr_Ret_Gift_U324505',
 'Byr_Ret_Health_U324506',
 'Byr_Ret_Holid_Items_U324507',
 'Byr_Ret_Home_Care_U324508',
 'Byr_Ret_Home_Furn_U324509',
 'Byr_Ret_Housewares_U324510',
 'Byr_Ret_Jewelry_U324511',
 'Byr_Ret_Linens_U324512',
 'Byr_Ret_Music_U324513',
 'Byr_Ret_Novelty_U324514',
 'Byr_Ret_Oth_MrchSvc_U324515',
 'Byr_Ret_Persnl_Care_U324516',
 'Byr_Ret_Pets_U324517',
 'Byr_Ret_PhotoVid_Eq_U324518',
 'Byr_Ret_Spec_Food_U324519',
 'Byr_Ret_Speci_Gifts_U324520',
 'Byr_Ret_Sports_Leis_U324521',
 'Byr_Ret_Stationery_U324522',
 'Byr_Ret_Travel_U324523',
 'Byr_Ret_VideosDVDs_U324524',
 'Byr_Ret_DataPresent_U324525',
 'Byr_Cat_Spend_Patrn_U324526',
 'Generations_2_U324527',
 'Medicare_Advtge_Pct_U324529',
 'Rx_Drug_Pln_Enr_Pct_U324530',
 'Private_Fee_Srv_Pct_U324531',
 'Medicr_SpIns_RspIdx_U324532',
 'Long_TrmCare_InsIdx_U324533',
 'Hlth_InsSubsidy_Ind_U324534',
 'Pct_HlthcreUninsEst_U324535',
 'Ins_Resp_Index_Hlth_U324536',
 'Ins_Resp_Index_Life_U324537',
 'Ins_Resp_Indx_Senrs_U324538',
 'Ins_Resp_Index_Auto_U324539',
 'Hlth_Ins_Engag_Idx_U324540',
 'Hlth_Ins_Infl_Index_U324541',
 'Chan_Pref_FirstPref_U324542',
 'Chan_Pref_Scnd_Pref_U324543',
 'Chan_Pref_Idx_Cell_U324544',
 'Chan_Pref_Idx_Email_U324545',
 'Chan_Pref_Idx_Mail_U324546',
 'Chan_Pref_Index_Ph_U324547',
 'Chan_Pref_Idx_Text_U324548',
 'Chan_Pref_Indx_Web_U324549',
 'Uninsured_Index_U324550',
 'Dual_Eligible_Indx_U324551',
 'Hlth_Ins_Dir_PayIdx_U324552',
 'Singl_Srvc_Pln_Dent_U324553',
 'Sing_Srvc_Plan_Vis_U324554',
 'Sngl_Srv_Plan_Dis_U324555',
 'Ins_Index_Juv_Life_U324556',
 'Ins_Index_Final_Exp_U324557',
 'Ins_Idx_Pre_Funeral_U324558',
 'Ins_Index_Term_Life_U324559',
 'Ins_Amount_TermLife_U324560',
 'Ins_Index_WholeLife_U324561',
 'Ins_Amt_Whole_Life_U324562',
 'AtoHmeIns_PrchDstCh_U324563',
 'AutoHomeIns_Qte_Chn_U324564',
 'LifeIns_Prch_DstChn_U324565',
 'Life_Ins_Qt_Dst_Chn_U324566',
 'Altruist_Index_U324567',
 'Annuity_Resp_Index_U324568',
 'Hlth_Idx_MngBizHlth_U324569',
 'Hlth_Idx_Manag_Hlth_U324570',
 'Hlth_Indx_Mng_Illns_U324571',
 'Hlth_Idx_Hlth_Trkr_U324572',
 'Religion_U324573',
 'Country_of_Origin_U324574',
 'Assimilation_U324575',
 'Ethnic_Group_U324576',
 'Ethnicity_U324577',
 'Language_U324578',
 'Vehicle_1_Year_U324579',
 'Vehicle_1_Make_U324580',
 'Vehicle_1_Model_U324581',
 'Vehicle_1_BodyStyle_U324582',
 'Veh_1_Fuel_Type_U324583',
 'Vehicle_1_Purch_Dt_U324584',
 'Vehicle_1_PurchType_U324585',
 'Vehicle_2_Year_U324586',
 'Vehicle_2_Make_U324587',
 'Vehicle_2_Model_U324588',
 'Vehicle_2_BodyStyle_U324589',
 'Veh_2_Fuel_Type_U324590',
 'Vehicle_2_Purch_Dt_U324591',
 'Vehicle_2_PurchType_U324592',
 'Vehicle_3_Year_U324593',
 'Vehicle_3_Make_U324594',
 'Vehicle_3_Model_U324595',
 'Vehicle_3_BodyStyle_U324596',
 'Veh_3_Fuel_Type_U324597',
 'Vehicle_3_Purch_Dt_U324598',
 'Vehicle_3_PurchType_U324599',
 'Number_Vehicles_U324600',
 'HlthInsPrem_Tol_Idx_U324602',
 'Hlthcare_Treat_Pref_U324603',
 'Medicar_SpInsByrIdx_U324604',
 'Smart_HHs_Appliance_U324605',
 'Smart_HHs_Security_U324606',
 'Digital_Dest_Groups_U324611',
 'Digital_Devices_U324612',
 'Digital_Destination_U324613',
 'Digi_Neighborhoods_U324614',
 'Mult_HlthBeh_Ch_Idx_U324615',
 'Sust_Hlth_BehCh_Idx_U324616',
 'Gender1_99013',
 'Gender2_99014',
 'State_U324007',
 'ZIP_Code_U324008',
 'ZIP_Plus_4_U324009',
 'Numeric_State_Code_U324012',
 'Numeric_Cty_Code_U324013',
 'Cen_BasTrct_SbCdNum_U324020',
 'Census_Basic_BlkGrp_U324021',
 'Census_Block_Code_U324022',
 'Date_of_Birth_Mth_U324095',
 'Date_of_Birth_Day_U324096',
 'Date_of_Birth_Year_U324097',
 'Child_1_Date_Birth_U324125',
 'Child_2_Date_Birth_U324127',
 'Child_3_Date_Birth_U324129',
 'Child_4_Date_Birth_U324131',
 'Cen_Basic_Tract_Num_U324019',
 'Public_Housing_Addr_U324089',
 'Census_Coding_Lvl_U324049',
 'wc_bought_any',
 'wc_num_items',
 'wc_big_ticket_bought_any',
 'wc_big_ticket_num_items',
 'wc_low_ticket_bought_any',
 'wc_low_ticket_num_items',
 'wc_big_ticket_amt_spent',
 'wc_low_ticket_amt_spent',
 'client_times_shopped_30_days',
 'client_shopped_3_mos',
 'comp1_times_shopped_30_days',
 'comp1_shopped_3_mos',
 'comp2_times_shopped_30_days',
 'comp2_shopped_3_mos',
 'comp3_times_shopped_30_days',
 'comp3_shopped_3_mos',
 'other1_times_shopped_30_days',
 'other1_shopped_3_mos',
 'other2_times_shopped_30_days',
 'other2_shopped_3_mos',
 'other3_times_shopped_30_days',
 'other3_shopped_3_mos',
 'other4_times_shopped_30_days',
 'other4_shopped_3_mos',
 'other5_times_shopped_30_days',
 'other5_shopped_3_mos',
 'other6_times_shopped_30_days',
 'other6_shopped_3_mos',
 'other7_times_shopped_30_days',
 'other7_shopped_3_mos',
 'other8_times_shopped_30_days',
 'other8_shopped_3_mos',
 'other9_times_shopped_30_days',
 'other9_shopped_3_mos',
 'other10_times_shopped_30_days',
 'other10_shopped_3_mos',
 'other11_times_shopped_30_days',
 'other11_shopped_3_mos',
 'other12_times_shopped_30_days',
 'other12_shopped_3_mos',
 'other13_times_shopped_30_days',
 'other13_shopped_3_mos',
 'other14_times_shopped_30_days',
 'other14_shopped_3_mos',
 'other15_times_shopped_30_days',
 'other15_shopped_3_mos',
 'other16_times_shopped_30_days',
 'other16_shopped_3_mos',
 'other17_times_shopped_30_days',
 'other17_shopped_3_mos',
 'other18_times_shopped_30_days',
 'other18_shopped_3_mos',
 'other19_times_shopped_30_days',
 'other19_shopped_3_mos',
 'other20_times_shopped_30_days',

### Focusing on Marital Status

In [10]:
dataset['Marital_Status_90301'].value_counts()

M    13322
Name: Marital_Status_90301, dtype: int64

In [11]:
interested_dataset.is_copy = False

In [12]:
interested_dataset.loc[:,'Marital_Status'] = dataset['Marital_Status_90301'].fillna(dataset['Married_U324070'])

In [13]:
interested_dataset['Household_Comp_U324163'] = interested_dataset['Household_Comp_U324163'].fillna('U')

In [14]:
new_list = []

for row in interested_dataset['Household_Comp_U324163']:
    
    if row == 'A' or row == 'B' or row == 'C' or row == 'D':
        new_list.append('M')
        
    elif row == 'U':
        new_list.append('U')
        
    else:
        new_list.append('S')

In [15]:
new_list = pd.DataFrame(new_list, columns = ['Household'])

In [16]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [17]:
interested_dataset['Marital_Status'] = interested_dataset['Marital_Status'].fillna(interested_dataset['Household'])

In [18]:
interested_dataset = interested_dataset.drop(['Household', 'Married_U324070'], axis = 1)

In [19]:
interested_dataset['Marital_Status'].value_counts()

U    19749
M    16453
S    12444
Name: Marital_Status, dtype: int64

In [20]:
interested_dataset['Family_PositionCode_U324059'] = interested_dataset['Family_PositionCode_U324059'].fillna('U')

In [21]:
new_list = []

for row in interested_dataset['Family_PositionCode_U324059']:
    
    if row == 'H' or row == 'W' or row == 'G' or row == 'P':
        
        new_list.append('M')
        
    elif row == 'U':
    
        new_list.append('U')
        
    else:
        
        new_list.append('S')

In [22]:
new_list = pd.DataFrame(new_list, columns = ['Family'])

In [23]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [24]:
interested_dataset['Marital_Status'] = np.where(interested_dataset['Marital_Status'] == 'U', interested_dataset['Family'], interested_dataset['Marital_Status'])

In [25]:
interested_dataset['Marital_Status'].value_counts()

S    19426
M    16540
U    12680
Name: Marital_Status, dtype: int64

In [26]:
interested_dataset = interested_dataset.drop(['Family', 'Marital_Status_90301'], axis = 1)

### Focusing on Homeowner Status

In [27]:
interested_dataset['Homeowner_Renter_90303'] = interested_dataset['Homeowner_Renter_90303'].fillna('U')

In [28]:
interested_dataset['Homeowner_Renter_90303'].value_counts()

O    28550
U    15399
R     4697
Name: Homeowner_Renter_90303, dtype: int64

In [29]:
interested_dataset['Homeowner_Status_U324062'] = interested_dataset['Homeowner_Status_U324062'].fillna('U')

In [30]:
interested_dataset['Homeowner_Status_U324062'] = interested_dataset['Homeowner_Status_U324062'].replace('Y', 'H')

In [31]:
interested_dataset['Homeowner_Status_U324062'].value_counts()

H    26659
U    15399
R     2882
P     1891
T     1815
Name: Homeowner_Status_U324062, dtype: int64

In [32]:
new_list = []

for row in interested_dataset['Homeowner_Status_U324062']:
    
    if row == 'H' or row == 'P':
        new_list.append('O')
        
    elif row == 'U':
        new_list.append('U')
        
    else:
        new_list.append('R')

In [33]:
new_list = pd.DataFrame(new_list, columns = ['Home_Status'])

In [34]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [35]:
interested_dataset['Homeowner_Status'] = np.where(interested_dataset['Homeowner_Renter_90303'] == 'U', interested_dataset['Home_Status'], interested_dataset['Homeowner_Renter_90303'])

In [36]:
interested_dataset['Homeowner_Status'].value_counts()

O    28550
U    15399
R     4697
Name: Homeowner_Status, dtype: int64

In [37]:
interested_dataset = interested_dataset.drop(['Home_Status', 'Homeowner_Status_U324062'], axis = 1)

In [38]:
new_list = []

for row in interested_dataset['Srvy_OwnRent_U324178']:
    
    if row == 1.0 or row == 2.0 or row == 3.0:
        new_list.append('O')
        
    elif row == 4.0 or row == 5.0 or row == 6.0:
        new_list.append('R')
        
    else:
        new_list.append('U')

In [39]:
new_list = pd.DataFrame(new_list, columns = ['Survey_OwnRent'])

In [40]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [41]:
interested_dataset['Homeowner_Status'] = np.where(interested_dataset['Homeowner_Status'] == 'U', interested_dataset['Survey_OwnRent'], interested_dataset['Homeowner_Status'])

In [42]:
interested_dataset['Homeowner_Status'].value_counts()

O    28564
U    15299
R     4783
Name: Homeowner_Status, dtype: int64

In [43]:
interested_dataset = interested_dataset.drop(['Survey_OwnRent', 'Homeowner_Renter_90303', 'Srvy_OwnRent_U324178'], axis = 1)

### Focusing on Dwelling Type

In [44]:
interested_dataset['Dwelling_Type_90302'] = interested_dataset['Dwelling_Type_90302'].fillna('U')

In [45]:
interested_dataset['Dwelling_Type_90302'].value_counts()

S    32130
U    12928
M     3588
Name: Dwelling_Type_90302, dtype: int64

In [46]:
interested_dataset['Dwelling_Type_U324063'] = interested_dataset['Dwelling_Type_U324063'].fillna('U')

In [47]:
new_list = []

for row in interested_dataset['Dwelling_Type_U324063']:
    
    if row == 'S' or row == 'B' or row == 'M' or row == 'P':
        new_list.append('S')
        
    elif row == 'U':
        new_list.append('U')
        
    else:
        new_list.append('M')

In [48]:
new_list = pd.DataFrame(new_list, columns = ['Dwell_Type'])

In [49]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [50]:
interested_dataset['Dwelling_Type'] = np.where(interested_dataset['Dwelling_Type_90302'] == 'U', interested_dataset['Dwell_Type'], interested_dataset['Dwelling_Type_90302'])

In [51]:
interested_dataset = interested_dataset.drop(['Dwell_Type', 'Dwelling_Type_90302', 'Dwelling_Type_U324063'], axis = 1)

In [52]:
interested_dataset['Dwelling_Type'].value_counts()

S    32154
U    12680
M     3812
Name: Dwelling_Type, dtype: int64

### Focusing on Gender

In [53]:
interested_dataset['Gender_U324057'] = interested_dataset['Gender_U324057'].fillna('U')

In [54]:
interested_dataset['Gender_U324057'].value_counts()

F    18124
M    17842
U    12680
Name: Gender_U324057, dtype: int64

In [55]:
interested_dataset['Gender_Code_90304'] = interested_dataset['Gender_Code_90304'].fillna('U')

In [56]:
interested_dataset['Gender_Code_90304'].value_counts()

F    18525
M    16521
U    13600
Name: Gender_Code_90304, dtype: int64

In [57]:
interested_dataset['Gender'] = np.where(interested_dataset['Gender_Code_90304'] == 'U', interested_dataset['Gender_U324057'], interested_dataset['Gender_Code_90304'])

In [58]:
interested_dataset['Gender'].value_counts()

F    18525
M    17441
U    12680
Name: Gender, dtype: int64

In [59]:
new_list = []

for row in interested_dataset['Family_PositionCode_U324059']:
    
    if row == 'H' or row == 'M' or row =='P':
        new_list.append('M')
        
    elif row == 'W' or row == 'F' or row == 'G':
        new_list.append('F')
        
    else:
        new_list.append('U')

In [60]:
new_list = pd.DataFrame(new_list, columns = ['Family_Gender'])

In [61]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [62]:
interested_dataset['Gender'] = np.where(interested_dataset['Gender'] == 'U', interested_dataset['Family_Gender'], interested_dataset['Gender'])

In [63]:
new_list = []

for row in interested_dataset['Household_Comp_U324163']:
    
    if row == 'E' or row == 'F' or row =='I' or row == 'J':
        new_list.append('M')
        
    elif row == 'G' or row == 'H' or row == 'K' or row == 'L':
        new_list.append('F')
        
    else:
        new_list.append('U')

In [64]:
new_list = pd.DataFrame(new_list, columns = ['Household_Gender'])

In [65]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [66]:
interested_dataset['Gender'] = np.where(interested_dataset['Gender'] == 'U', interested_dataset['Household_Gender'], interested_dataset['Gender'])

In [67]:
interested_dataset['Gender'].value_counts()

F    18525
M    17441
U    12680
Name: Gender, dtype: int64

In [68]:
interested_dataset = interested_dataset.drop(['Family_Gender', 'Household_Gender', 'Household_Comp_U324163', 'Family_PositionCode_U324059', 'Gender_Code_90304', 'Gender_U324057'], axis = 1)

### Focusing on Age Range

In [69]:
interested_dataset['Age_Range_90305'] = interested_dataset['Age_Range_90305'].fillna('U')

In [70]:
interested_dataset['Age_Range_90305'].value_counts()

U    12743
D     7071
E     6871
C     5619
F     5550
G     4906
B     3471
A     2415
Name: Age_Range_90305, dtype: int64

In [71]:
interested_dataset['Est_Age_U324056'] = interested_dataset['Est_Age_U324056'].fillna('U')

In [72]:
new_list = []

for row in interested_dataset['Est_Age_U324056']:
    
    if row == 'I1':
        new_list.append('A')
        
    elif row == 'I2':
        new_list.append('B')
        
    elif row == 'I3':
        new_list.append('C')
        
    elif row == 'I4':
        new_list.append('D')
        
    elif row == 'I5':
        new_list.append('E')
        
    elif row == 'I6':
        new_list.append('F')
        
    elif row == 'I7':
        new_list.append('G')
        
    else:
        new_list.append('U')

In [73]:
new_list = pd.DataFrame(new_list, columns = ['Estimated_Age'])

In [74]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [75]:
interested_dataset['Age'] = np.where(interested_dataset['Age_Range_90305'] == 'U', interested_dataset['Estimated_Age'], interested_dataset['Age_Range_90305'])

In [76]:
interested_dataset['Age'].value_counts()

U    12743
D     7071
E     6871
C     5619
F     5550
G     4906
B     3471
A     2415
Name: Age, dtype: int64

In [77]:
interested_dataset = interested_dataset.drop(['Estimated_Age', 'Age_Range_90305', 'Est_Age_U324056', 'Age_Range_U324055'], axis = 1)

In [78]:
interested_dataset.head()

   dataright_seq State_99039  Len_of_Residence_90300  Length_of_Residnce_U324061  Num_Adults_HH_90306  Num_Adults_in_HH_U324071  Num_Persons_in_HH_U324072  Num_Child_in_HH_90307  Number_Children_U324074  Child_Pres_0002_Yrs_U324075  Child_Pres_0305_Yrs_U324076  Child_Pres_0610_Yrs_U324077  Child_Pres_1115_Yrs_U324078  Child_Pres_1618_Yrs_U324079 Race_Code_90308 Est_HH_Income_90309 Home_Market_Value_90310 Networth_90312 Mail_Order_Byr_90315 Mail_Order_Resp_90316 Occ_1st_Indv_90317  Edu_1st_Indv_90318  Cen10_Med_HH_Inc_U324028  Cen10_MedHH_EffInc_U324039  Cen10_SocioEcon_Scr_U324046  ZIP_Income_Decile_U324066  Dual_Income_Indx_3_U324067 Srvy_Mail_Ord_Books_U324254 Srvy_MO_BooksMags_U324255 Srvy_MO_Child_Prod_U324256 Srvy_Mail_Ord_Clthg_U324257 Srvy_MailOrd_Cosmtc_U324258 Srvy_MO_Food_Prod_U324259 Srvy_MailOrderGifts_U324260 Srvy_MailOrd_HmeFrn_U324261 Srvy_Mail_Order_Mag_U324262 Srvy_MailOrderOther_U324263 Srvy_MailOrdr_Jewel_U324264 Srvy_Mail_Ord_PlsSz_U324265 Srvy_Mail_Order_DVD_U324266  Designated_Mkt_Area_U324014 Race_U324058 Est_HH_Income_3_U324064 Net_Worth_3_U324065 Mail_Order_Respnder_U324068 Mail_Order_Byr_U324069 Indv_Occ_U324081 Bank_Card_U324099  Bank_Card_New_IssDt_U324098 Ret_Card_U324100  Byr_Ret_Last_OrdDt_U324480  Byr_Ret_Orders_U324481  Byr_Ret_Dollars_U324482 Est_HH_Debt_Level_U324161 Est_HH_Invest_Asset_U324162  wc_bought_any wc_num_items  wc_big_ticket_bought_any wc_big_ticket_num_items  wc_low_ticket_bought_any wc_low_ticket_num_items wc_big_ticket_amt_spent wc_low_ticket_amt_spent client_times_shopped_30_days  client_shopped_3_mos comp1_times_shopped_30_days  comp1_shopped_3_mos comp2_times_shopped_30_days  comp2_shopped_3_mos comp3_times_shopped_30_days  comp3_shopped_3_mos Marital_Status Homeowner_Status Dwelling_Type Gender Age
0           2517          CT                     NaN                         NaN                  5.0                       5.0                        5.0                    NaN                      0.0                          NaN                          NaN                          NaN                          NaN                          NaN               B                   D                       E              E                    Y                     Y                NaN                 NaN                      53.0                        43.0                         84.0                        9.0                         6.0                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        501.0          NaN                       H                   G                           M                      M              NaN               NaN                          NaN              NaN                      1610.0                     1.0                     80.0                         C                           C              0          NaN                         0                     NaN                         0                     NaN                     NaN                     NaN                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              M                O             S      M   A
1           2518          CT                     1.0                         1.0                  NaN                       NaN                        NaN                    NaN                      0.0                          NaN                          4.0                          NaN                          NaN                          NaN               H                   B                       A              A                  NaN                   NaN                NaN                 NaN                      53.0                        43.0                         84.0                        5.0                         9.0                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        501.0          NaN                       D                   A                         NaN                    NaN              NaN               NaN                          NaN                Y                         NaN                     0.0                      0.0                         B                           B              1            C                         1                       B                         1                       C                       B                       F                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              S                U             S      F   D
2           2519          CT                    15.0                        15.0                  1.0                       1.0                        1.0                    NaN                      0.0                          NaN                          NaN                          NaN                          NaN                          NaN               W                   B                       A              A                    Y                     Y                  B                 NaN                      53.0                        43.0                         84.0                        4.0                         9.0                           Y                         Y                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                           Y                        501.0            B                       C                   A                           M                      M             A264                 M                          NaN                M                         NaN                     0.0                      0.0                         F                           A              1            B                         0                     NaN                         1                       B                     NaN                       A                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              S                R             M      F   D
3           2520         NaN                     NaN                         NaN                  NaN                       NaN                        NaN                    NaN                      NaN                          NaN                          NaN                          NaN                          NaN                          NaN             NaN                 NaN                     NaN            NaN                  NaN                   NaN                NaN                 NaN                       NaN                         NaN                          NaN                        NaN                         NaN                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                          NaN          NaN                     NaN                 NaN                         NaN                    NaN              NaN               NaN                          NaN              NaN                         NaN                     NaN                      NaN                       NaN                         NaN              0          NaN                         0                     NaN                         0                     NaN                     NaN                     NaN                          NaN                     0                         NaN                    0                         NaN                    0                           C                    1              U                U             U      U   U
4           2521          CT                    15.0                        15.0                  5.0                       5.0                        6.0                    1.0                      1.0                          NaN                          4.0                          NaN                          NaN                          NaN               B                   C                       D              E                    Y                     Y                NaN                 NaN                      53.0                        43.0                         84.0                        9.0                         7.0                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        501.0          NaN                       G                   H                           M                      M              NaN                 M                     200506.0                M                         NaN                     0.0                      0.0                         B                           D              1            C                         0                     NaN                         1                       C                     NaN                       E                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              M                O             S      F   D

### Focusing on Number of Adults

In [79]:
interested_dataset['Num_Adults_HH_90306'] = interested_dataset['Num_Adults_HH_90306'].fillna('U')

In [80]:
interested_dataset['Num_Adults_in_HH_U324071'] = interested_dataset['Num_Adults_in_HH_U324071'].fillna('U')

In [81]:
interested_dataset['Num_Adults_in_HH_U324071'].value_counts()

U      17608
2.0    11927
1.0    11205
3.0     4966
4.0     2111
5.0      630
6.0      161
7.0       30
8.0        7
9.0        1
Name: Num_Adults_in_HH_U324071, dtype: int64

In [82]:
interested_dataset['Num_Adults'] = np.where(interested_dataset['Num_Adults_in_HH_U324071'] == 'U', interested_dataset['Num_Adults_HH_90306'], interested_dataset['Num_Adults_in_HH_U324071'])

In [83]:
interested_dataset['Num_Adults'].value_counts()

U      17608
2.0    11927
1.0    11205
3.0     4966
4.0     2111
5.0      630
6.0      161
7.0       30
8.0        7
9.0        1
Name: Num_Adults, dtype: int64

In [84]:
interested_dataset = interested_dataset.drop(['Num_Adults_in_HH_U324071', 'Num_Adults_HH_90306', 'Num_Persons_in_HH_U324072'], axis = 1)

In [85]:
result1 = interested_dataset[(interested_dataset['Marital_Status'] != 'U') & (interested_dataset['Num_Adults'] == 'U')]

In [86]:
result1.shape

(4928, 74)

In [87]:
for i in range(len(dataset)):
    
    if interested_dataset['Marital_Status'][i] != 'U' and interested_dataset['Num_Adults'][i] == 'U':
        
        if interested_dataset['Marital_Status'][i] == 'M':
            
            interested_dataset['Num_Adults'][i] = 2.0
            
        else:
            
            interested_dataset['Num_Adults'][i] = 1.0

/Users/Weiyang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [88]:
interested_dataset['Num_Adults'].value_counts()

1.0    16133
U      12680
2.0    11927
3.0     4966
4.0     2111
5.0      630
6.0      161
7.0       30
8.0        7
9.0        1
Name: Num_Adults, dtype: int64

### Focusing on Number of Children

In [89]:
interested_dataset['Number_Children_U324074'] = interested_dataset['Number_Children_U324074'].fillna('U')

In [90]:
interested_dataset['Num_Child_in_HH_90307'] = interested_dataset['Num_Child_in_HH_90307'].fillna('U')

In [91]:
interested_dataset['Num_Children'] = np.where(interested_dataset['Number_Children_U324074'] == "U", interested_dataset['Num_Child_in_HH_90307'], interested_dataset['Number_Children_U324074'])

In [92]:
interested_dataset = interested_dataset.drop(['Num_Child_in_HH_90307', 'Number_Children_U324074'], axis = 1)

### Creating Binary Variables for Survey - Children

In [93]:
interested_dataset['Child_Pres_0002_Yrs_U324075'] = interested_dataset['Child_Pres_0002_Yrs_U324075'].fillna(0)
interested_dataset['Child_0_2'] = np.where(interested_dataset['Child_Pres_0002_Yrs_U324075'] == 0, interested_dataset['Child_Pres_0002_Yrs_U324075'], 1)
interested_dataset = interested_dataset.drop(['Child_Pres_0002_Yrs_U324075'], axis = 1)

In [94]:
interested_dataset['Child_Pres_0305_Yrs_U324076'] = interested_dataset['Child_Pres_0305_Yrs_U324076'].fillna(0)
interested_dataset['Child_3_5'] = np.where(interested_dataset['Child_Pres_0305_Yrs_U324076'] == 0, interested_dataset['Child_Pres_0305_Yrs_U324076'], 1)
interested_dataset = interested_dataset.drop(['Child_Pres_0305_Yrs_U324076'], axis = 1)

In [95]:
interested_dataset['Child_Pres_0610_Yrs_U324077'] = interested_dataset['Child_Pres_0610_Yrs_U324077'].fillna(0)
interested_dataset['Child_6_10'] = np.where(interested_dataset['Child_Pres_0610_Yrs_U324077'] == 0, interested_dataset['Child_Pres_0610_Yrs_U324077'], 1)
interested_dataset = interested_dataset.drop(['Child_Pres_0610_Yrs_U324077'], axis = 1)

In [96]:
interested_dataset['Child_Pres_1115_Yrs_U324078'] = interested_dataset['Child_Pres_1115_Yrs_U324078'].fillna(0)
interested_dataset['Child_11_15'] = np.where(interested_dataset['Child_Pres_1115_Yrs_U324078'] == 0, interested_dataset['Child_Pres_1115_Yrs_U324078'], 1)
interested_dataset = interested_dataset.drop(['Child_Pres_1115_Yrs_U324078'], axis = 1)

In [97]:
interested_dataset['Child_Pres_1618_Yrs_U324079'] = interested_dataset['Child_Pres_1618_Yrs_U324079'].fillna(0)
interested_dataset['Child_16_18'] = np.where(interested_dataset['Child_Pres_1618_Yrs_U324079'] == 0, interested_dataset['Child_Pres_1618_Yrs_U324079'], 1)
interested_dataset = interested_dataset.drop(['Child_Pres_1618_Yrs_U324079'], axis = 1)

### Focusing on Race

In [98]:
interested_dataset['Race_Code_90308'] = interested_dataset['Race_Code_90308'].fillna('U')

In [99]:
interested_dataset['Race_Code_90308'].value_counts()

W    26228
U    13519
H     3897
B     3512
A     1490
Name: Race_Code_90308, dtype: int64

In [100]:
interested_dataset['Race_U324058'] = interested_dataset['Race_U324058'].fillna('U')

In [101]:
interested_dataset['Race_U324058'].value_counts()

U    38791
W     4251
H     2880
J     1102
B      983
P      503
A      116
N       16
C        4
Name: Race_U324058, dtype: int64

In [102]:
interested_dataset['Race'] = np.where(interested_dataset['Race_Code_90308'] == 'U', interested_dataset['Race_U324058'], interested_dataset['Race_Code_90308'])

In [103]:
interested_dataset['Race'].value_counts()

W    26311
U    13422
H     3901
B     3519
A     1491
J        2
Name: Race, dtype: int64

In [104]:
interested_dataset['Race'] = interested_dataset['Race'].replace('J', 'W')

In [105]:
interested_dataset = interested_dataset.drop(['Race_Code_90308', 'Race_U324058'], axis = 1)

### Focusing on Household Income

In [106]:
interested_dataset['Est_HH_Income_90309'] = interested_dataset['Est_HH_Income_90309'].fillna('U')

In [107]:
interested_dataset['Est_HH_Income_90309'].value_counts()

U    12680
E     7328
B     6897
C     6421
D     5707
F     3420
H     2148
A     2144
G     1901
Name: Est_HH_Income_90309, dtype: int64

In [108]:
new_list = []

for row in interested_dataset['Est_HH_Income_3_U324064']:
    
    if row == 'A':
        new_list.append('A')
        
    elif row == 'B':
        new_list.append('B')
        
    elif row == 'C':
        new_list.append('B')
        
    elif row == 'D':
        new_list.append('B')
        
    elif row == 'E':
        new_list.append('B')
        
    elif row == 'F':
        new_list.append('C')
        
    elif row == 'G':
        new_list.append('C')
        
    elif row == 'H':
        new_list.append('D')
        
    elif row == 'I':
        new_list.append('E')

    elif row == 'J':
        new_list.append('E')
        
    elif row == 'K':
        new_list.append('F')
        
    elif row == 'L':
        new_list.append('G')
        
    elif row == 'M':
        new_list.append('H')

    elif row == 'N':
        new_list.append('H')
        
    elif row == 'O':
        new_list.append('H')
        
    else:
        new_list.append('U')

In [109]:
new_list = pd.DataFrame(new_list, columns = ['Est_Income'])

In [110]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [111]:
interested_dataset['HH_Income'] = np.where(interested_dataset['Est_HH_Income_90309'] == 'U', interested_dataset['Est_Income'], interested_dataset['Est_HH_Income_90309'])

In [112]:
interested_dataset = interested_dataset.drop(['Est_Income', 'Est_HH_Income_90309', 'Est_HH_Income_3_U324064'], axis = 1)

In [113]:
interested_dataset.head()

   dataright_seq State_99039  Len_of_Residence_90300  Length_of_Residnce_U324061 Home_Market_Value_90310 Networth_90312 Mail_Order_Byr_90315 Mail_Order_Resp_90316 Occ_1st_Indv_90317  Edu_1st_Indv_90318  Cen10_Med_HH_Inc_U324028  Cen10_MedHH_EffInc_U324039  Cen10_SocioEcon_Scr_U324046  ZIP_Income_Decile_U324066  Dual_Income_Indx_3_U324067 Srvy_Mail_Ord_Books_U324254 Srvy_MO_BooksMags_U324255 Srvy_MO_Child_Prod_U324256 Srvy_Mail_Ord_Clthg_U324257 Srvy_MailOrd_Cosmtc_U324258 Srvy_MO_Food_Prod_U324259 Srvy_MailOrderGifts_U324260 Srvy_MailOrd_HmeFrn_U324261 Srvy_Mail_Order_Mag_U324262 Srvy_MailOrderOther_U324263 Srvy_MailOrdr_Jewel_U324264 Srvy_Mail_Ord_PlsSz_U324265 Srvy_Mail_Order_DVD_U324266  Designated_Mkt_Area_U324014 Net_Worth_3_U324065 Mail_Order_Respnder_U324068 Mail_Order_Byr_U324069 Indv_Occ_U324081 Bank_Card_U324099  Bank_Card_New_IssDt_U324098 Ret_Card_U324100  Byr_Ret_Last_OrdDt_U324480  Byr_Ret_Orders_U324481  Byr_Ret_Dollars_U324482 Est_HH_Debt_Level_U324161 Est_HH_Invest_Asset_U324162  wc_bought_any wc_num_items  wc_big_ticket_bought_any wc_big_ticket_num_items  wc_low_ticket_bought_any wc_low_ticket_num_items wc_big_ticket_amt_spent wc_low_ticket_amt_spent client_times_shopped_30_days  client_shopped_3_mos comp1_times_shopped_30_days  comp1_shopped_3_mos comp2_times_shopped_30_days  comp2_shopped_3_mos comp3_times_shopped_30_days  comp3_shopped_3_mos Marital_Status Homeowner_Status Dwelling_Type Gender Age Num_Adults Num_Children  Child_0_2  Child_3_5  Child_6_10  Child_11_15  Child_16_18 Race HH_Income
0           2517          CT                     NaN                         NaN                       E              E                    Y                     Y                NaN                 NaN                      53.0                        43.0                         84.0                        9.0                         6.0                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        501.0                   G                           M                      M              NaN               NaN                          NaN              NaN                      1610.0                     1.0                     80.0                         C                           C              0          NaN                         0                     NaN                         0                     NaN                     NaN                     NaN                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              M                O             S      M   A          5            0        0.0        0.0         0.0          0.0          0.0    B         D
1           2518          CT                     1.0                         1.0                       A              A                  NaN                   NaN                NaN                 NaN                      53.0                        43.0                         84.0                        5.0                         9.0                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        501.0                   A                         NaN                    NaN              NaN               NaN                          NaN                Y                         NaN                     0.0                      0.0                         B                           B              1            C                         1                       B                         1                       C                       B                       F                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              S                U             S      F   D          1            0        0.0        1.0         0.0          0.0          0.0    H         B
2           2519          CT                    15.0                        15.0                       A              A                    Y                     Y                  B                 NaN                      53.0                        43.0                         84.0                        4.0                         9.0                           Y                         Y                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                           Y                        501.0                   A                           M                      M             A264                 M                          NaN                M                         NaN                     0.0                      0.0                         F                           A              1            B                         0                     NaN                         1                       B                     NaN                       A                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              S                R             M      F   D          1            0        0.0        0.0         0.0          0.0          0.0    W         B
3           2520         NaN                     NaN                         NaN                     NaN            NaN                  NaN                   NaN                NaN                 NaN                       NaN                         NaN                          NaN                        NaN                         NaN                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                          NaN                 NaN                         NaN                    NaN              NaN               NaN                          NaN              NaN                         NaN                     NaN                      NaN                       NaN                         NaN              0          NaN                         0                     NaN                         0                     NaN                     NaN                     NaN                          NaN                     0                         NaN                    0                         NaN                    0                           C                    1              U                U             U      U   U          U            U        0.0        0.0         0.0          0.0          0.0    U         U
4           2521          CT                    15.0                        15.0                       D              E                    Y                     Y                NaN                 NaN                      53.0                        43.0                         84.0                        9.0                         7.0                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        501.0                   H                           M                      M              NaN                 M                     200506.0                M                         NaN                     0.0                      0.0                         B                           D              1            C                         0                     NaN                         1                       C                     NaN                       E                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              M                O             S      F   D          5            1        0.0        1.0         0.0          0.0          0.0    B         C

In [114]:
interested_dataset['Cen10_Med_HH_Inc_U324028'] = interested_dataset['Cen10_Med_HH_Inc_U324028']*1000

In [115]:
new_list = []

for row in interested_dataset['Cen10_Med_HH_Inc_U324028']:
    
    if row < 15000.0:
        new_list.append('A')
        
    elif row >= 15000.0 and row <= 49999.0:
        new_list.append('B')
        
    elif row >= 50000.0 and row <= 74999.0:
        new_list.append('C')
        
    elif row >= 75000.0 and row <= 99999.0:
        new_list.append('D')
        
    elif row >= 100000 and row <= 149999.0:
        new_list.append('E')
        
    elif row >= 150000 and row <= 199999.0:
        new_list.append('F')
        
    elif row >= 200000 and row <= 249999.0:
        new_list.append('G')
        
    elif row >= 250000:
        new_list.append('H')
        
    else:
        new_list.append('U')

In [116]:
new_list = pd.DataFrame(new_list, columns = ['Censor_Income'])

In [117]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [118]:
interested_dataset['HH_Income'] = np.where(interested_dataset['HH_Income'] == 'U',interested_dataset['Censor_Income'],interested_dataset['HH_Income'])

In [119]:
interested_dataset = interested_dataset.drop(['Censor_Income', 'Cen10_Med_HH_Inc_U324028'], axis = 1)

### Creating Effective Income based on Census Data 2010

In [120]:
interested_dataset['Cen10_MedHH_EffInc_U324039'] = interested_dataset['Cen10_MedHH_EffInc_U324039']*1000

In [121]:
new_list = []

for row in interested_dataset['Cen10_MedHH_EffInc_U324039']:
    
    if row < 15000.0:
        new_list.append('A')
        
    elif row >= 15000.0 and row <= 49999.0:
        new_list.append('B')
        
    elif row >= 50000.0 and row <= 74999.0:
        new_list.append('C')
        
    elif row >= 75000.0 and row <= 99999.0:
        new_list.append('D')
        
    elif row >= 100000 and row <= 149999.0:
        new_list.append('E')
        
    elif row >= 150000 and row <= 199999.0:
        new_list.append('F')
        
    elif row >= 200000 and row <= 249999.0:
        new_list.append('G')
        
    elif row >= 250000:
        new_list.append('H')
        
    else:
        new_list.append('U')

In [122]:
new_list = pd.DataFrame(new_list, columns = ['Eff_Income'])

In [123]:
interested_dataset = pd.concat([interested_dataset, new_list], axis = 1)

In [124]:
interested_dataset = interested_dataset.drop(['Cen10_MedHH_EffInc_U324039'], axis = 1)

### Creating Social Economic Score based on Census Data 2010

In [125]:
interested_dataset['Cen10_SocioEcon_Scr_U324046'].describe()

count    35966.000000
mean        96.694878
std         21.845786
min         60.000000
25%         80.000000
50%         93.000000
75%        108.000000
max        170.000000
Name: Cen10_SocioEcon_Scr_U324046, dtype: float64

In [126]:
interested_dataset.Cen10_SocioEcon_Scr_U324046.quantile([0,0.25,0.5,0.75,1])

0.00     60.0
0.25     80.0
0.50     93.0
0.75    108.0
1.00    170.0
Name: Cen10_SocioEcon_Scr_U324046, dtype: float64

In [127]:
new_list = []

for row in interested_dataset['Cen10_SocioEcon_Scr_U324046']:
    
    if row >= interested_dataset.Cen10_SocioEcon_Scr_U324046.quantile(0) and row < interested_dataset.Cen10_SocioEcon_Scr_U324046.quantile(0.25):
        new_list.append('A')
        
    elif row >= interested_dataset.Cen10_SocioEcon_Scr_U324046.quantile(0.25) and row < interested_dataset.Cen10_SocioEcon_Scr_U324046.quantile(0.5):
        new_list.append('B')
        
    elif row >= interested_dataset.Cen10_SocioEcon_Scr_U324046.quantile(0.5) and row < interested_dataset.Cen10_SocioEcon_Scr_U324046.quantile(0.75):
        new_list.append('C')
        
    elif row >= interested_dataset.Cen10_SocioEcon_Scr_U324046.quantile(0.75) and row <= interested_dataset.Cen10_SocioEcon_Scr_U324046.quantile(1):
        new_list.append('D')
        
    else:
        new_list.append('U')

In [128]:
new_list = pd.DataFrame(new_list, columns = ['Socioeconomic_Score'])

In [129]:
interested_dataset = pd.concat([interested_dataset, new_list], axis = 1)

In [130]:
interested_dataset = interested_dataset.drop(['Cen10_SocioEcon_Scr_U324046'], axis = 1)

### Creating Zip Income based on Census Data 2010

In [131]:
interested_dataset['ZIP_Income_Decile_U324066'] = interested_dataset['ZIP_Income_Decile_U324066'].fillna('U')

In [132]:
interested_dataset['ZIP_Income_Decile_U324066'] = interested_dataset['ZIP_Income_Decile_U324066'].astype('str')

In [133]:
interested_dataset['ZIP_Income'] = interested_dataset['ZIP_Income_Decile_U324066']

In [134]:
interested_dataset = interested_dataset.drop(['ZIP_Income_Decile_U324066'], axis = 1)

### Creating Dual Income based on Census Data 2010

In [135]:
interested_dataset['Dual_Income_Indx_3_U324067'].value_counts()

9.0    13637
3.0     3268
4.0     3134
8.0     3057
2.0     2580
7.0     2516
6.0     2245
5.0     2101
1.0     1944
0.0     1484
Name: Dual_Income_Indx_3_U324067, dtype: int64

In [136]:
new_list = []

for row in interested_dataset['Dual_Income_Indx_3_U324067']:
    
    if row >= 5:
        new_list.append('Y')
        
    elif row < 5:
        new_list.append('N')
    
    else:
        new_list.append('U')

In [137]:
new_list = pd.DataFrame(new_list, columns = ['Dual_Income'])

In [138]:
interested_dataset = pd.concat([interested_dataset, new_list], axis = 1)

In [139]:
interested_dataset = interested_dataset.drop(['Dual_Income_Indx_3_U324067'], axis = 1)

### Focusing on Home Market Value

In [140]:
interested_dataset['Home_Market_Value_90310'] = interested_dataset['Home_Market_Value_90310'].fillna('U')

In [141]:
interested_dataset['Home_Market_Value'] = interested_dataset['Home_Market_Value_90310']

In [142]:
interested_dataset = interested_dataset.drop(['Home_Market_Value_90310'], axis = 1)

### Focusing on Net Worth

In [143]:
interested_dataset['Networth_90312'].value_counts()

G    6570
E    6119
F    6021
A    5676
H    4456
D    2879
B    2594
C    1651
Name: Networth_90312, dtype: int64

In [144]:
interested_dataset['Networth_90312'] = interested_dataset['Networth_90312'].fillna('U')

In [145]:
new_list = []

for row in interested_dataset['Net_Worth_3_U324065']:
    
    if row == 'A':
        new_list.append('A')
        
    elif row == 'B':
        new_list.append('B')
        
    elif row == 'C':
        new_list.append('B')
        
    elif row == 'D':
        new_list.append('C')
        
    elif row == 'E':
        new_list.append('D')
        
    elif row == 'F':
        new_list.append('D')
        
    elif row == 'G':
        new_list.append('E')
        
    elif row == 'H':
        new_list.append('E')
        
    elif row == 'I':
        new_list.append('F')

    elif row == 'J':
        new_list.append('F')
        
    elif row == 'K':
        new_list.append('G')
        
    elif row == 'L':
        new_list.append('G')
        
    elif row == 'M':
        new_list.append('H')
        
    else:
        new_list.append('U')

In [146]:
new_list = pd.DataFrame(new_list, columns = ['Est_Worth'])

In [147]:
interested_dataset = pd.concat([new_list, interested_dataset], axis = 1)

In [148]:
interested_dataset['Net_Worth'] = np.where(interested_dataset['Networth_90312'] == 'U', interested_dataset['Est_Worth'], interested_dataset['Networth_90312'])

In [149]:
interested_dataset['Net_Worth'].value_counts()

U    12680
G     6570
E     6119
F     6021
A     5676
H     4456
D     2879
B     2594
C     1651
Name: Net_Worth, dtype: int64

In [150]:
interested_dataset = interested_dataset.drop(['Est_Worth', 'Networth_90312', 'Net_Worth_3_U324065'], axis = 1)

### Formatting Mail Order Buyers

In [151]:
interested_dataset.head()

   dataright_seq State_99039  Len_of_Residence_90300  Length_of_Residnce_U324061 Mail_Order_Byr_90315 Mail_Order_Resp_90316 Occ_1st_Indv_90317  Edu_1st_Indv_90318 Srvy_Mail_Ord_Books_U324254 Srvy_MO_BooksMags_U324255 Srvy_MO_Child_Prod_U324256 Srvy_Mail_Ord_Clthg_U324257 Srvy_MailOrd_Cosmtc_U324258 Srvy_MO_Food_Prod_U324259 Srvy_MailOrderGifts_U324260 Srvy_MailOrd_HmeFrn_U324261 Srvy_Mail_Order_Mag_U324262 Srvy_MailOrderOther_U324263 Srvy_MailOrdr_Jewel_U324264 Srvy_Mail_Ord_PlsSz_U324265 Srvy_Mail_Order_DVD_U324266  Designated_Mkt_Area_U324014 Mail_Order_Respnder_U324068 Mail_Order_Byr_U324069 Indv_Occ_U324081 Bank_Card_U324099  Bank_Card_New_IssDt_U324098 Ret_Card_U324100  Byr_Ret_Last_OrdDt_U324480  Byr_Ret_Orders_U324481  Byr_Ret_Dollars_U324482 Est_HH_Debt_Level_U324161 Est_HH_Invest_Asset_U324162  wc_bought_any wc_num_items  wc_big_ticket_bought_any wc_big_ticket_num_items  wc_low_ticket_bought_any wc_low_ticket_num_items wc_big_ticket_amt_spent wc_low_ticket_amt_spent client_times_shopped_30_days  client_shopped_3_mos comp1_times_shopped_30_days  comp1_shopped_3_mos comp2_times_shopped_30_days  comp2_shopped_3_mos comp3_times_shopped_30_days  comp3_shopped_3_mos Marital_Status Homeowner_Status Dwelling_Type Gender Age Num_Adults Num_Children  Child_0_2  Child_3_5  Child_6_10  Child_11_15  Child_16_18 Race HH_Income Eff_Income Socioeconomic_Score ZIP_Income Dual_Income Home_Market_Value Net_Worth
0           2517          CT                     NaN                         NaN                    Y                     Y                NaN                 NaN                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        501.0                           M                      M              NaN               NaN                          NaN              NaN                      1610.0                     1.0                     80.0                         C                           C              0          NaN                         0                     NaN                         0                     NaN                     NaN                     NaN                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              M                O             S      M   A          5            0        0.0        0.0         0.0          0.0          0.0    B         D          B                   B        9.0           Y                 E         E
1           2518          CT                     1.0                         1.0                  NaN                   NaN                NaN                 NaN                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        501.0                         NaN                    NaN              NaN               NaN                          NaN                Y                         NaN                     0.0                      0.0                         B                           B              1            C                         1                       B                         1                       C                       B                       F                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              S                U             S      F   D          1            0        0.0        1.0         0.0          0.0          0.0    H         B          B                   B        5.0           Y                 A         A
2           2519          CT                    15.0                        15.0                    Y                     Y                  B                 NaN                           Y                         Y                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                           Y                        501.0                           M                      M             A264                 M                          NaN                M                         NaN                     0.0                      0.0                         F                           A              1            B                         0                     NaN                         1                       B                     NaN                       A                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              S                R             M      F   D          1            0        0.0        0.0         0.0          0.0          0.0    W         B          B                   B        4.0           Y                 A         A
3           2520         NaN                     NaN                         NaN                  NaN                   NaN                NaN                 NaN                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                          NaN                         NaN                    NaN              NaN               NaN                          NaN              NaN                         NaN                     NaN                      NaN                       NaN                         NaN              0          NaN                         0                     NaN                         0                     NaN                     NaN                     NaN                          NaN                     0                         NaN                    0                         NaN                    0                           C                    1              U                U             U      U   U          U            U        0.0        0.0         0.0          0.0          0.0    U         U          U                   U          U           U                 U         U
4           2521          CT                    15.0                        15.0                    Y                     Y                NaN                 NaN                         NaN                       NaN                        NaN                         NaN                         NaN                       NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                         NaN                        501.0                           M                      M              NaN                 M                     200506.0                M                         NaN                     0.0                      0.0                         B                           D              1            C                         0                     NaN                         1                       C                     NaN                       E                          NaN                     0                         NaN                    0                         NaN                    0                         NaN                    0              M                O             S      F   D          5            1        0.0        1.0         0.0          0.0          0.0    B         C          B                   B        9.0           Y                 D         E

In [152]:
interested_dataset['Mail_Order_Byr_90315'] = interested_dataset['Mail_Order_Byr_90315'].fillna('U')

In [153]:
interested_dataset['Mail_Order_Byr_90315'].value_counts()

U    25796
Y    22850
Name: Mail_Order_Byr_90315, dtype: int64

In [154]:
interested_dataset['Mail_Order_Buyer'] = interested_dataset['Mail_Order_Byr_90315']

In [155]:
interested_dataset = interested_dataset.drop(['Mail_Order_Byr_90315'], axis = 1)

### Creating Binary Variables for Mail Order Survey

In [156]:
interested_dataset['Srvy_Mail_Ord_Books_U324254'] = interested_dataset['Srvy_Mail_Ord_Books_U324254'].fillna(0)
interested_dataset['Mail_Ord_Books'] = np.where(interested_dataset['Srvy_Mail_Ord_Books_U324254'] == 0, interested_dataset['Srvy_Mail_Ord_Books_U324254'], 1)
interested_dataset = interested_dataset.drop(['Srvy_Mail_Ord_Books_U324254'], axis = 1)

In [157]:
interested_dataset['Srvy_MO_BooksMags_U324255'] = interested_dataset['Srvy_MO_BooksMags_U324255'].fillna(0)
interested_dataset['Mail_Ord_BooksMags'] = np.where(interested_dataset['Srvy_MO_BooksMags_U324255'] == 0, interested_dataset['Srvy_MO_BooksMags_U324255'], 1)
interested_dataset = interested_dataset.drop(['Srvy_MO_BooksMags_U324255'], axis = 1)

In [158]:
interested_dataset['Srvy_MO_Child_Prod_U324256'] = interested_dataset['Srvy_MO_Child_Prod_U324256'].fillna(0)
interested_dataset['Mail_Ord_Child_Prod'] = np.where(interested_dataset['Srvy_MO_Child_Prod_U324256'] == 0, interested_dataset['Srvy_MO_Child_Prod_U324256'], 1)
interested_dataset = interested_dataset.drop(['Srvy_MO_Child_Prod_U324256'], axis = 1)

In [159]:
interested_dataset['Srvy_Mail_Ord_Clthg_U324257'] = interested_dataset['Srvy_Mail_Ord_Clthg_U324257'].fillna(0)
interested_dataset['Mail_Ord_Clothes'] = np.where(interested_dataset['Srvy_Mail_Ord_Clthg_U324257'] == 0, interested_dataset['Srvy_Mail_Ord_Clthg_U324257'], 1)
interested_dataset = interested_dataset.drop(['Srvy_Mail_Ord_Clthg_U324257'], axis = 1)

In [160]:
interested_dataset['Srvy_MailOrd_Cosmtc_U324258'] = interested_dataset['Srvy_MailOrd_Cosmtc_U324258'].fillna(0)
interested_dataset['Mail_Ord_Cosmetic'] = np.where(interested_dataset['Srvy_MailOrd_Cosmtc_U324258'] == 0, interested_dataset['Srvy_MailOrd_Cosmtc_U324258'], 1)
interested_dataset = interested_dataset.drop(['Srvy_MailOrd_Cosmtc_U324258'], axis = 1)

In [161]:
interested_dataset['Srvy_MO_Food_Prod_U324259'] = interested_dataset['Srvy_MO_Food_Prod_U324259'].fillna(0)
interested_dataset['Mail_Ord_Food'] = np.where(interested_dataset['Srvy_MO_Food_Prod_U324259'] == 0, interested_dataset['Srvy_MO_Food_Prod_U324259'], 1)
interested_dataset = interested_dataset.drop(['Srvy_MO_Food_Prod_U324259'], axis = 1)

In [162]:
interested_dataset['Srvy_MailOrderGifts_U324260'] = interested_dataset['Srvy_MailOrderGifts_U324260'].fillna(0)
interested_dataset['Mail_Ord_Gifts'] = np.where(interested_dataset['Srvy_MailOrderGifts_U324260'] == 0, interested_dataset['Srvy_MailOrderGifts_U324260'], 1)
interested_dataset = interested_dataset.drop(['Srvy_MailOrderGifts_U324260'], axis = 1)

In [163]:
interested_dataset['Srvy_MailOrd_HmeFrn_U324261'] = interested_dataset['Srvy_MailOrd_HmeFrn_U324261'].fillna(0)
interested_dataset['Mail_Ord_Furniture'] = np.where(interested_dataset['Srvy_MailOrd_HmeFrn_U324261'] == 0, interested_dataset['Srvy_MailOrd_HmeFrn_U324261'], 1)
interested_dataset = interested_dataset.drop(['Srvy_MailOrd_HmeFrn_U324261'], axis = 1)

In [164]:
interested_dataset['Srvy_Mail_Order_Mag_U324262'] = interested_dataset['Srvy_Mail_Order_Mag_U324262'].fillna(0)
interested_dataset['Mail_Ord_Mags'] = np.where(interested_dataset['Srvy_Mail_Order_Mag_U324262'] == 0, interested_dataset['Srvy_Mail_Order_Mag_U324262'], 1)
interested_dataset = interested_dataset.drop(['Srvy_Mail_Order_Mag_U324262'], axis = 1)

In [165]:
interested_dataset['Srvy_MailOrderOther_U324263'] = interested_dataset['Srvy_MailOrderOther_U324263'].fillna(0)
interested_dataset['Mail_Ord_Others'] = np.where(interested_dataset['Srvy_MailOrderOther_U324263'] == 0, interested_dataset['Srvy_MailOrderOther_U324263'], 1)
interested_dataset = interested_dataset.drop(['Srvy_MailOrderOther_U324263'], axis = 1)

In [166]:
interested_dataset['Srvy_MailOrdr_Jewel_U324264'] = interested_dataset['Srvy_MailOrdr_Jewel_U324264'].fillna(0)
interested_dataset['Mail_Ord_Jewel'] = np.where(interested_dataset['Srvy_MailOrdr_Jewel_U324264'] == 0, interested_dataset['Srvy_MailOrdr_Jewel_U324264'], 1)
interested_dataset = interested_dataset.drop(['Srvy_MailOrdr_Jewel_U324264'], axis = 1)

In [167]:
interested_dataset['Srvy_Mail_Ord_PlsSz_U324265'] = interested_dataset['Srvy_Mail_Ord_PlsSz_U324265'].fillna(0)
interested_dataset['Mail_Ord_Big_Clothes'] = np.where(interested_dataset['Srvy_Mail_Ord_PlsSz_U324265'] == 0, interested_dataset['Srvy_Mail_Ord_PlsSz_U324265'], 1)
interested_dataset = interested_dataset.drop(['Srvy_Mail_Ord_PlsSz_U324265'], axis = 1)

In [168]:
interested_dataset['Srvy_Mail_Order_DVD_U324266'] = interested_dataset['Srvy_Mail_Order_DVD_U324266'].fillna(0)
interested_dataset['Mail_Ord_DVD'] = np.where(interested_dataset['Srvy_Mail_Order_DVD_U324266'] == 0, interested_dataset['Srvy_Mail_Order_DVD_U324266'], 1)
interested_dataset = interested_dataset.drop(['Srvy_Mail_Order_DVD_U324266'], axis = 1)

### Double Checking Mail Order Buyers

In [169]:
for i in range(len(interested_dataset)):
    
    if interested_dataset['Mail_Order_Buyer'][i] == 'U':
        
        if interested_dataset['Mail_Ord_Books'][i] != 0 or interested_dataset['Mail_Ord_BooksMags'][i] != 0 or interested_dataset['Mail_Ord_Child_Prod'][i] != 0 or interested_dataset['Mail_Ord_Clothes'][i] != 0 or interested_dataset['Mail_Ord_Cosmetic'][i] != 0 or interested_dataset['Mail_Ord_Food'][i] != 0 or interested_dataset['Mail_Ord_Gifts'][i] != 0 or interested_dataset['Mail_Ord_Furniture'][i] != 0 or interested_dataset['Mail_Ord_Mags'][i] != 0 or interested_dataset['Mail_Ord_Others'][i] != 0 or interested_dataset['Mail_Ord_Jewel'][i] != 0 or interested_dataset['Mail_Ord_Big_Clothes'][i] != 0 or interested_dataset['Mail_Ord_DVD'][i] != 0:
            
            interested_dataset['Mail_Order_Buyer'][i] = 'Y'
            
        elif interested_dataset['Mail_Ord_Books'][i] == 0 or interested_dataset['Mail_Ord_BooksMags'][i] == 0 or interested_dataset['Mail_Ord_Child_Prod'][i] == 0 or interested_dataset['Mail_Ord_Clothes'][i] == 0 or interested_dataset['Mail_Ord_Cosmetic'][i] == 0 or interested_dataset['Mail_Ord_Food'][i] == 0 or interested_dataset['Mail_Ord_Gifts'][i] == 0 or interested_dataset['Mail_Ord_Furniture'][i] == 0 or interested_dataset['Mail_Ord_Mags'][i] == 0 or interested_dataset['Mail_Ord_Others'][i] == 0 or interested_dataset['Mail_Ord_Jewel'][i] == 0 or interested_dataset['Mail_Ord_Big_Clothes'][i] == 0 or interested_dataset['Mail_Ord_DVD'][i] == 0:
            
            interested_dataset['Mail_Order_Buyer'][i] = 'N'

/Users/Weiyang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/Weiyang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [170]:
interested_dataset['Mail_Order_Buyer'].value_counts()

N    25794
Y    22852
Name: Mail_Order_Buyer, dtype: int64

In [171]:
interested_dataset['Mail_Order_Buyer'] = np.where((interested_dataset['Mail_Order_Buyer'] == 'Y') & (interested_dataset['Mail_Order_Byr_U324069'] == 'M'), 'M', interested_dataset['Mail_Order_Buyer'])

In [172]:
interested_dataset['Mail_Order_Buyer'] = np.where((interested_dataset['Mail_Order_Buyer'] == 'Y') & (interested_dataset['Mail_Order_Byr_U324069'] == 'P'), 'P', interested_dataset['Mail_Order_Buyer'])

In [173]:
interested_dataset['Mail_Order_Buyer'] = np.where((interested_dataset['Mail_Order_Buyer'] == 'Y') & (interested_dataset['Mail_Order_Byr_U324069'] == 'U'), 'Y', interested_dataset['Mail_Order_Buyer'])

In [174]:
interested_dataset['Mail_Order_Buyer'] = np.where((interested_dataset['Mail_Order_Buyer'] == 'U') & (interested_dataset['Mail_Order_Byr_U324069'] == 'M'), 'M', interested_dataset['Mail_Order_Buyer'])

In [175]:
interested_dataset['Mail_Order_Buyer'] = np.where((interested_dataset['Mail_Order_Buyer'] == 'U') & (interested_dataset['Mail_Order_Byr_U324069'] == 'P'), 'P', interested_dataset['Mail_Order_Buyer'])

In [176]:
interested_dataset['Mail_Order_Buyer'] = np.where((interested_dataset['Mail_Order_Buyer'] == 'U') & (interested_dataset['Mail_Order_Byr_U324069'] == 'Y'), 'Y', interested_dataset['Mail_Order_Buyer'])

In [177]:
interested_dataset['Mail_Order_Buyer'].value_counts()

N    25794
M    20246
Y     1651
P      955
Name: Mail_Order_Buyer, dtype: int64

In [178]:
interested_dataset = interested_dataset.drop(['Mail_Order_Byr_U324069'], axis = 1)

### Checking Mail Order Response

In [179]:
interested_dataset['Mail_Order_Resp_90316'] = interested_dataset['Mail_Order_Resp_90316'].fillna('U')

In [180]:
interested_dataset['Mail_Order_Response'] = interested_dataset['Mail_Order_Resp_90316']

In [181]:
interested_dataset = interested_dataset.drop(['Mail_Order_Resp_90316'], axis = 1)

In [182]:
for i in range(len(interested_dataset)):
    
    if interested_dataset['Mail_Order_Response'][i] == 'U':
        
        if interested_dataset['Mail_Ord_Books'][i] != 0 or interested_dataset['Mail_Ord_BooksMags'][i] != 0 or interested_dataset['Mail_Ord_Child_Prod'][i] != 0 or interested_dataset['Mail_Ord_Clothes'][i] != 0 or interested_dataset['Mail_Ord_Cosmetic'][i] != 0 or interested_dataset['Mail_Ord_Food'][i] != 0 or interested_dataset['Mail_Ord_Gifts'][i] != 0 or interested_dataset['Mail_Ord_Furniture'][i] != 0 or interested_dataset['Mail_Ord_Mags'][i] != 0 or interested_dataset['Mail_Ord_Others'][i] != 0 or interested_dataset['Mail_Ord_Jewel'][i] != 0 or interested_dataset['Mail_Ord_Big_Clothes'][i] != 0 or interested_dataset['Mail_Ord_DVD'][i] != 0:
            
            interested_dataset['Mail_Order_Response'][i] = 'Y'
            
        elif interested_dataset['Mail_Ord_Books'][i] == 0 or interested_dataset['Mail_Ord_BooksMags'][i] == 0 or interested_dataset['Mail_Ord_Child_Prod'][i] == 0 or interested_dataset['Mail_Ord_Clothes'][i] == 0 or interested_dataset['Mail_Ord_Cosmetic'][i] == 0 or interested_dataset['Mail_Ord_Food'][i] == 0 or interested_dataset['Mail_Ord_Gifts'][i] == 0 or interested_dataset['Mail_Ord_Furniture'][i] == 0 or interested_dataset['Mail_Ord_Mags'][i] == 0 or interested_dataset['Mail_Ord_Others'][i] == 0 or interested_dataset['Mail_Ord_Jewel'][i] == 0 or interested_dataset['Mail_Ord_Big_Clothes'][i] == 0 or interested_dataset['Mail_Ord_DVD'][i] == 0:
            
            interested_dataset['Mail_Order_Response'][i] = 'N'

/Users/Weiyang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/Weiyang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [183]:
interested_dataset['Mail_Order_Response'].value_counts()

Y    25709
N    22937
Name: Mail_Order_Response, dtype: int64

In [184]:
interested_dataset['Mail_Order_Respnder_U324068'] = interested_dataset['Mail_Order_Respnder_U324068'].fillna('U')

In [185]:
interested_dataset['Mail_Order_Respnder_U324068'].value_counts()

M    23873
U    22939
Y     1834
Name: Mail_Order_Respnder_U324068, dtype: int64

In [186]:
interested_dataset['Mail_Order_Response'] = np.where((interested_dataset['Mail_Order_Response'] == 'Y') & (interested_dataset['Mail_Order_Respnder_U324068'] == 'M'), 'M', interested_dataset['Mail_Order_Response'])

In [187]:
interested_dataset['Mail_Order_Response'] = np.where((interested_dataset['Mail_Order_Response'] == 'Y') & (interested_dataset['Mail_Order_Respnder_U324068'] == 'Y'), 'Y', interested_dataset['Mail_Order_Response'])

In [188]:
interested_dataset['Mail_Order_Response'] = np.where((interested_dataset['Mail_Order_Response'] == 'Y') & (interested_dataset['Mail_Order_Respnder_U324068'] == 'U'), 'Y', interested_dataset['Mail_Order_Response'])

In [189]:
interested_dataset['Mail_Order_Response'] = np.where((interested_dataset['Mail_Order_Response'] == 'N') & (interested_dataset['Mail_Order_Respnder_U324068'] == 'M'), 'M', interested_dataset['Mail_Order_Response'])

In [190]:
interested_dataset['Mail_Order_Response'] = np.where((interested_dataset['Mail_Order_Response'] == 'N') & (interested_dataset['Mail_Order_Respnder_U324068'] == 'Y'), 'Y', interested_dataset['Mail_Order_Response'])

In [191]:
interested_dataset['Mail_Order_Response'].value_counts()

M    23873
N    22937
Y     1836
Name: Mail_Order_Response, dtype: int64

In [192]:
interested_dataset = interested_dataset.drop(['Mail_Order_Respnder_U324068'], axis = 1)

### Focusing on Occupation and Education

In [193]:
interested_dataset['Occupation'] = interested_dataset['Occ_1st_Indv_90317'].fillna('U')

In [194]:
interested_dataset = interested_dataset.drop(['Occ_1st_Indv_90317'], axis = 1)

In [195]:
interested_dataset['Occupation'].value_counts()

U    40538
G     1848
B     1535
E     1158
D     1109
Q      951
H      947
A      325
J       86
O       80
M       69
Name: Occupation, dtype: int64

In [196]:
interested_dataset['Education'] = interested_dataset['Edu_1st_Indv_90318'].fillna('U')

In [197]:
interested_dataset = interested_dataset.drop(['Edu_1st_Indv_90318', 'Indv_Occ_U324081'], axis = 1)

### Focusing on Designated Market Area based on Nielson

In [198]:
interested_dataset['Designated_Mkt_Area_U324014'].isnull().sum()

12680

##### Comments:

##### 1) Designated_Market_Area is identical to State variable.

##### 2) Null rows in State = Null rows in Designated_Market_Area

In [199]:
interested_dataset['State'] = interested_dataset['State_99039'].fillna('U')

In [200]:
interested_dataset = interested_dataset.drop(['State_99039', 'Designated_Mkt_Area_U324014'], axis = 1)

### Focusing on Household Debt

In [201]:
interested_dataset['Est_HH_Debt_Level'] = interested_dataset['Est_HH_Debt_Level_U324161'].fillna('U')

In [202]:
interested_dataset = interested_dataset.drop(['Est_HH_Debt_Level_U324161'], axis = 1)

### Focusing on Investment Asset

In [203]:
interested_dataset['Est_HH_Invest_Asset'] = interested_dataset['Est_HH_Invest_Asset_U324162'].fillna('U')

In [204]:
interested_dataset = interested_dataset.drop(['Est_HH_Invest_Asset_U324162'], axis = 1)

### Focusing on Length of Residence

In [205]:
interested_dataset['Len_of_Residence'] = interested_dataset['Len_of_Residence_90300'].fillna('U')

In [206]:
interested_dataset['Len_of_Residence'].value_counts()

U       14591
15.0    11615
1.0      5018
3.0      2058
12.0     1994
7.0      1750
2.0      1661
4.0      1575
10.0     1303
5.0      1297
13.0      966
11.0      946
8.0       940
6.0       937
14.0      867
9.0       851
0.0       277
Name: Len_of_Residence, dtype: int64

In [207]:
interested_dataset = interested_dataset.drop(['Len_of_Residence_90300'], axis = 1)

In [208]:
interested_dataset['Len_of_Residence'] = np.where(interested_dataset['Len_of_Residence'] == 'U', interested_dataset['Length_of_Residnce_U324061'], interested_dataset['Len_of_Residence'])

In [209]:
interested_dataset = interested_dataset.drop(['Length_of_Residnce_U324061'], axis = 1)

### Creating Bank Card Year of Issue

In [210]:
interested_dataset['Bank_Card_New_IssDt_U324098'] = interested_dataset['Bank_Card_New_IssDt_U324098'].astype('str')

In [211]:
new_list = []

for row in interested_dataset['Bank_Card_New_IssDt_U324098']:
    
    if row != 'nan':
    
        year = row[2]
        year_1 = row[3]

        final_year = year + year_1

        new_list.append(final_year)
        
    else:
        new_list.append('U')

In [212]:
new_list = pd.DataFrame(new_list, columns = ['Bank_Card_New_Issue_Year'])

In [213]:
interested_dataset = pd.concat([interested_dataset, new_list], axis = 1)

In [214]:
interested_dataset = interested_dataset.drop(['Bank_Card_New_IssDt_U324098'], axis = 1)

### Creating Bank Card

In [215]:
interested_dataset['Bank_Card'] = interested_dataset['Bank_Card_U324099'].fillna('U')

In [216]:
interested_dataset = interested_dataset.drop(['Bank_Card_U324099'], axis = 1)

In [217]:
interested_dataset['Bank_Card'].value_counts()

U    22208
M    20630
Y     5808
Name: Bank_Card, dtype: int64

In [218]:
interested_dataset['Bank_Card'] = np.where(interested_dataset['Bank_Card'] == 'U', interested_dataset['Bank_Card_New_Issue_Year'], interested_dataset['Bank_Card'])

In [219]:
interested_dataset['Bank_Card'].value_counts()

U    22208
M    20630
Y     5808
Name: Bank_Card, dtype: int64

### Focusing on Retail Card

In [220]:
interested_dataset['Retail_Card'] = interested_dataset['Ret_Card_U324100'].fillna('U')

In [221]:
interested_dataset = interested_dataset.drop(['Ret_Card_U324100'], axis = 1)

### Focusing on Buyer Retail Last Order Date

In [222]:
interested_dataset['Byr_Ret_Last_OrdDt_U324480'].describe()

count    8289.000000
mean     1585.852938
std       117.183520
min      1311.000000
25%      1506.000000
50%      1607.000000
75%      1705.000000
max      1711.000000
Name: Byr_Ret_Last_OrdDt_U324480, dtype: float64

In [223]:
new_list = []

for row in interested_dataset['Byr_Ret_Last_OrdDt_U324480']:
    
    if row >= interested_dataset.Byr_Ret_Last_OrdDt_U324480.quantile(0.5):

        new_list.append('Y')
        
    else:
        new_list.append('N')

In [224]:
new_list = pd.DataFrame(new_list, columns = ['Buyer_Retail_Last_Order_2yrs'])

In [225]:
interested_dataset = pd.concat([interested_dataset, new_list], axis = 1)

In [226]:
new_list = []

for row in interested_dataset['Byr_Ret_Last_OrdDt_U324480']:
    
    if row >= interested_dataset.Byr_Ret_Last_OrdDt_U324480.quantile(0.75):

        new_list.append('Y')
        
    else:
        new_list.append('N')

In [227]:
new_list = pd.DataFrame(new_list, columns = ['Buyer_Retail_Last_Order_1yrs'])

In [228]:
interested_dataset = pd.concat([interested_dataset, new_list], axis = 1)

In [229]:
interested_dataset = interested_dataset.drop(['Byr_Ret_Last_OrdDt_U324480'], axis = 1)

### Focusing on Buyer Retail Last Orders Quantity

In [230]:
interested_dataset['Buyer_Reatil_Last_Order_Quantity'] = interested_dataset['Byr_Ret_Orders_U324481'].fillna(0.0)

In [231]:
interested_dataset = interested_dataset.drop(['Byr_Ret_Orders_U324481'], axis = 1)

### Focusing on Buyer Retail Last Orders Dollars

In [232]:
interested_dataset['Buyer_Reatil_Last_Order_Dollars'] = interested_dataset['Byr_Ret_Dollars_U324482'].fillna(0.0)

In [233]:
interested_dataset = interested_dataset.drop(['Byr_Ret_Dollars_U324482'], axis = 1)

### Cleaning up Women Clothes Number of Items

In [234]:
interested_dataset['wc_num_items'] = interested_dataset['wc_num_items'].fillna('U')

In [235]:
interested_dataset['wc_num_items'] = np.where(interested_dataset['wc_num_items'] == 'U', interested_dataset['wc_bought_any'], interested_dataset['wc_num_items'])

### Cleaning up Women Clothes Big Ticket Number of Items

In [236]:
interested_dataset['wc_big_ticket_num_items'] = interested_dataset['wc_big_ticket_num_items'].fillna('U')

In [237]:
interested_dataset['wc_big_ticket_num_items'] = np.where(interested_dataset['wc_big_ticket_num_items'] == 'U', interested_dataset['wc_big_ticket_bought_any'], interested_dataset['wc_big_ticket_num_items'])

### Cleaning up Women Clothes Small Ticket Number of Items

In [238]:
interested_dataset['wc_low_ticket_num_items'] = interested_dataset['wc_low_ticket_num_items'].fillna('U')

In [239]:
interested_dataset['wc_low_ticket_num_items'] = np.where(interested_dataset['wc_low_ticket_num_items'] == 'U', interested_dataset['wc_low_ticket_bought_any'], interested_dataset['wc_low_ticket_num_items'])

### Cleaning up Women Clothes Big Ticket Amount Spent

In [240]:
interested_dataset['wc_big_ticket_amt_spent'] = interested_dataset['wc_big_ticket_amt_spent'].fillna('U')

In [241]:
interested_dataset['wc_big_ticket_amt_spent'] = np.where(interested_dataset['wc_big_ticket_amt_spent'] == 'U', interested_dataset['wc_big_ticket_bought_any'], interested_dataset['wc_big_ticket_amt_spent'])

### Cleaning up Women Clothes Low Ticket Amount Spent

In [242]:
interested_dataset['wc_low_ticket_amt_spent'] = interested_dataset['wc_low_ticket_amt_spent'].fillna('U')

In [243]:
interested_dataset['wc_low_ticket_amt_spent'] = np.where(interested_dataset['wc_low_ticket_amt_spent'] == 'U', interested_dataset['wc_low_ticket_bought_any'], interested_dataset['wc_low_ticket_amt_spent'])

### Filtering out the Final Dataset

In [244]:
interested_dataset.shape

(48646, 65)

In [245]:
for i in range(len(interested_dataset)):
    
    if interested_dataset['Marital_Status'][i] == 'U':
        
         if interested_dataset['Homeowner_Status'][i] == 'U':
            
             if interested_dataset['Dwelling_Type'][i] == 'U':
                
                 if interested_dataset['Gender'][i] == 'U':
                    
                     if interested_dataset['Age'][i] == 'U':
                            
                            interested_dataset = interested_dataset.drop(i)

### Writing out into CSV

In [246]:
interested_dataset.to_csv('final_dataset.csv', index = False)